{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<input type="hidden" id="vagrantfile-linode-vm-box" name="vagrantfile-linode[vm][box]" value="linode" />

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            {% include 'PuphpetExtensionVagrantfileLinodeBundle:sections:Instructions.html.twig' %}

            <div class="panel-heading">
                <h3 class="panel-title">Linode Details</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>
                            Linode Operating System
                            {{ popover.small('Choose the operating system for your Linode. Linode has pre-defined
                                systems you can choose from. The ones listed are the ones PuPHPet has been tested with
                                so far.<br /><br />
                                Note: Listed are the PHP installs that we have confirmed as working for their respective
                                operating system. You are welcome to attempt to install higher if you\'d like, but
                                we cannot guarantee it will work. In fact in most cases it won\'t.')
                            }}
                        </label>

                        {% for distribution in data.available_distributions %}
                            <label class="radio">
                                <input type="radio" value="{{ distribution.distribution }}"
                                       name="vagrantfile-linode[vm][provider][linode][distribution]"
                                       {% if distribution.distribution == data.vm.provider.linode.distribution %}checked{% endif %} />
                                {{ distribution.long_name }}
                                {% if distribution.php_versions is defined %}
                                    (PHP
                                    {% for php in distribution.php_versions %}
                                        <span class="label php-version-{{ php|replace('.', '-') }}">{{ php }}</span>
                                    {% endfor %}
                                    )
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="vagrantfile-linode-vm-hostname">
                            Linode Name
                            {{ popover.small('Name your server. It must be unique to your account!') }}
                        </label>
                        <input id="vagrantfile-linode-vm-hostname"
                               name="vagrantfile-linode[vm][hostname]"
                               placeholder="my-awesome-box"
                               value="{{ data.vm.hostname }}" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-linode-vm-provider-linode-plan">
                            Linode Plan
                            {{ popover.small('<a href="https://www.linode.com/pricing" target="_blank">Pricing information</a>.
                                Linode charges by the hour, but also shows what a full month would cost.') }}
                        </label>
                        <select id="vagrantfile-linode-vm-provider-linode-plan"
                                name="vagrantfile-linode[vm][provider][linode][plan]"
                                class="form-control select-tag">
                            {% for plan, name in data.available_plans %}
                                <option value="{{ plan }}"
                                    {% if plan == data.vm.provider.linode.plan %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="vagrantfile-linode-vm-provider-linode-datacenter">
                            Linode Datacenter
                            {{ popover.small('Choose the one closest to you, or your target audience!') }}
                        </label>
                        <select id="vagrantfile-linode-vm-provider-linode-datacenter"
                                name="vagrantfile-linode[vm][provider][linode][datacenter]"
                                class="form-control select-tag">
                            {% for key, datacenter in data.available_datacenters %}
                                <option value="{{ key }}"
                                    {% if key == data.vm.provider.linode.datacenter %}selected{% endif %}>{{ datacenter }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-linode-vm-provider-linode-token">
                            Linode API Token
                            {{ popover.small('<a href="https://manager.linode.com/profile/index/" target="_blank">Get it here</a>') }}
                        </label>
                        <input id="vagrantfile-linode-vm-provider-linode-token"
                               name="vagrantfile-linode[vm][provider][linode][token]"
                               placeholder="LINODE API KEY"
                               value="{{ data.vm.provider.linode.token }}" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label for="vagrantfile-linode-vm-provider-linode-ssh_key_name">
                            Linode SSH Key Name
                            {{ popover.small('Change if you already have an SSH key you would like to use.
                                Leave as default otherwise.') }}
                        </label>
                        <input id="vagrantfile-linode-vm-provider-linode-ssh_key_name"
                               name="vagrantfile-linode[vm][provider][linode][ssh_key_name]"
                               placeholder="Vagrant"
                               value="{{ data.vm.provider.linode.ssh_key_name }}" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-linode-ssh-username">
                            Local Private Key Username
                            {{ popover.small('The username associated with the private key entered.') }}
                        </label>
                        <input id="vagrantfile-linode-ssh-username"
                               name="vagrantfile-linode[ssh][username]"
                               value="{{ data.ssh.username }}" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label for="vagrantfile-linode-ssh-private_key_path">
                            Local Private Key Path
                            {{ popover.small('The Linode will not be accessible without your private/public key.
                                <strong>It will not be accessible using username/password, only private key!</strong>') }}
                        </label>
                        <input id="vagrantfile-linode-ssh-private_key_path"
                               name="vagrantfile-linode[ssh][private_key_path]"
                               placeholder="~/.ssh/id_rsa"
                               value="{{ data.ssh.private_key_path }}" class="form-control" />
                    </div>
                </div>
            </div>

            {% for synced_folder in data.vm.synced_folder %}
                {% include 'PuphpetExtensionVagrantfileLinodeBundle:sections:SyncedFolder.html.twig' with {'synced_folder': synced_folder} %}
            {% endfor %}

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2">
                    <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                            data-source-url="{{ path('puphpet.extension.vagrantfile.linode.synced_folder') }}">Add another Linode shared folder</button>
                </div>
            </div>
        </div>
    </div>
</div>
