<section id="php">

    <div class="page-header">
      <h1 id="php">PHP</h1>
    </div>

    <!-- PHP / Quick Settings -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Quick Settings</h3>
                </div>

                <div class="panel-body">

                    <!-- PHP / Version & Composer -->
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>PHP Version</label><br />
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="55"
                                    {% if php.version == '55' %}checked{% endif %} /> 5.5
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="54"
                                    {% if php.version == '54' %}checked{% endif %} /> 5.4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="53"
                                    {% if php.version == '53' %}checked{% endif %} /> 5.3
                            </label>

                            <p class="help-block">
                                Ubuntu appears to have occasional problems using a non-default
                                PHP repo version. If using Ubuntu, proceed with caution and
                                <a href="#vagrantfile">please reference the default PHP versions
                                    outline here.</a>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label>Composer</label><br />
                            <label class="checkbox-inline">
                                <input type="checkbox" name="php[composer]" value="1"
                                    {% if php.composer.install %}checked{% endif %} /> Install Composer
                            </label>

                            <p class="help-block">
                                <a href="https://getcomposer.org">Composer</a> will be available as a
                                system service:<br />
                                <code>$ composer</code>
                            </p>
                        </div>
                    </div>
                    <!-- End PHP / Version & Composer -->

                    <!-- PHP / Ini -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="php-ini-displayer">INI Settings</label>
                            <select id="php-ini-displayer" multiple
                                    class="form-control select-tags-user-input"
                                    data-target-container="php-ini"
                                    data-target-name="php[ini]"
                                >
                                {% for ini, values in php.available_ini %}
                                    {% if values is not empty %}
                                        <optgroup label="{{ ini }}">
                                            {% for value in values %}
                                                <option value="{{ value }}">{{ value }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% else %}
                                        <option value="{{ ini }}"
                                            {% if ini in php.ini|keys %}selected{% endif %}>{{ ini }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <div id="php-ini" style="display: none;">
                                {% for name, value in php.ini %}
                                    <input type="hidden" name="php[ini][{{ name }}]"
                                           data-option-name="{{ name }}" value="{{ value }}" />
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <!-- End PHP / Ini -->

                    <!-- PHP / Timezone -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="php-timezone">PHP Timezone</label>
                            <select id="php-timezone" name="php[timezone]"
                                    class="form-control select-tag">
                                {% for namespace, timezones in php.available_timezones %}
                                    <optgroup label="{{ namespace }}">
                                        {% for timezone in timezones %}
                                            <option value="{{ timezone }}"
                                                {% if timezone == php.timezone %}selected{% endif %}>{{ timezone }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- End PHP / Timezone -->

                    <!-- PHP / PHP Modules -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="php-modules-php">PHP Modules</label>
                            <select id="php-modules-php" name="php[modules][php][]"
                                    multiple class="form-control select-tags">
                                {% for module in php.available_modules.php %}
                                    <option value="{{ module }}"
                                        {% if module in php.modules.php %}selected{% endif %}>{{ module }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- end PHP / PHP Modules -->

                    <!-- PHP / PEAR Modules -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="php-modules-pear">PEAR Modules</label>
                            <select id="php-modules-pear" name="php[modules][pear][]"
                                    multiple class="form-control select-tags">
                                {% for namespace, modules in php.available_modules.pear %}
                                    <optgroup label="{{ namespace }}">
                                        {% for module in modules %}
                                            <option value="{{ module }}"
                                                {% if module in php.modules.pear %}selected{% endif %}>{{ module }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- end PHP / PEAR Modules -->

                    <!-- PHP / PECL Modules -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="php-modules-pecl">PECL Modules</label>
                            <select id="php-modules-pecl" name="php[modules][pecl][]"
                                    multiple class="form-control select-tags">
                                {% for namespace, modules in php.available_modules.pecl %}
                                    <optgroup label="{{ namespace }}">
                                        {% for module in modules %}
                                            <option value="{{ module }}"
                                                {% if module in php.modules.pecl %}selected{% endif %}>{{ module }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- end PHP / PECL Modules -->

                </div>

            </div>
        </div>
    </div>
    <!-- end PHP / Quick Settings -->

</section>
