<input type="hidden" name="nginx[install]" value="0" />

<div class="field-container">
    <div class="form-group">
        <div class="help-text">
            Setup Nginx. An alright webserver.
        </div>
        <label class="col-xs-12 radio-tile">
            <input type="checkbox" name="nginx[install]" value="1"
                   class="invisible toggle-on-select update-other-input-on-check"
                   {% if nginx.install %}checked{% endif %}
                   data-vis-toggle-target="#nginx-container"
                   data-update-on-check-apache[install]="0" />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Install Nginx</span>
                </span>
                <span class="footer">
                    You cannot install Apache with Nginx. Apache will be deselected.
                </span>
            </span>
        </label>
    </div>

    <div class="clearfix"></div>

    <div id="nginx-container" class="{% if not nginx.install %}hidden{% endif %}">
        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffers"
                   target="_blank">Information here</a>.
            </div>
            <label for="nginx-settings-proxy_buffers">Proxy Buffers</label>
            <input type="text" id="nginx-settings-proxy_buffers"
                   name="nginx[settings][proxy_buffers]"
                   class="form-control" placeholder="4 256k"
                   value="{{ nginx.settings.proxy_buffers }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffer_size"
                   target="_blank">Information here</a>.
            </div>
            <label for="nginx-settings-proxy_buffer_size">Proxy Buffer Size</label>
            <input type="text" id="nginx-settings-proxy_buffer_size"
                   name="nginx[settings][proxy_buffer_size]"
                   class="form-control" placeholder="128k"
                   value="{{ nginx.settings.proxy_buffer_size }}" />
        </div>

        <div class="clearfix"></div>

        {% for vhost in nginx.vhosts %}
            {% include 'PuphpetBundle:nginx/sections:vhost.html.twig' with {'vhost': vhost} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.nginx.vhost') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add an Nginx vhost</a>

        {% for upstream in nginx.upstreams %}
            {% include 'PuphpetBundle:nginx/sections:upstream.html.twig' with {'upstream': upstream} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.nginx.upstream') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add an Nginx proxy upstream</a>

        {% for proxy in nginx.proxies %}
            {% include 'PuphpetBundle:nginx/sections:proxy.html.twig' with {'proxy': proxy} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.nginx.proxy') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add an Nginx proxy</a>
    </div>

    <input type="hidden" id="nginx-settings-version" name="nginx[settings][version]"
           value="{{ nginx.settings.version }}" />

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#custom-files"><span aria-hidden="true">&larr;</span> Custom Files</a></li>
            <li class="next">
                <a href="#apache">Apache <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
