{% set uniqid = uniqid ?? uniqid('proxy_') %}
{% set idBase = "nginx-proxies-#{uniqid}" %}
{% set nameBase = "nginx[proxies][#{uniqid}]" %}

<div id="{{ idBase }}" data-uniqid="{{ uniqid }}" data-name="{{ nameBase }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="{{ idBase }}-proxy">
            Proxy URL
        </label>
        <input type="text" id="{{ idBase }}-proxy"
               name="{{ nameBase }}[proxy]"
               placeholder="http://backend" class="form-control"
               value="{{ proxy.proxy }}" />
        <div class="help-block">
            This should match an upstream name configured above. e.g.
            <code>http://backend</code>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
