{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="php">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PHP Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="update-other-input"
                                   name="php[install]"
                                   {% if php.install %}checked{% endif %} value="1" /> Install PHP
                            {% if not php.install %}<input type="hidden" name="php[install]" value="0" />{% endif %}
                            {{ popover.small('PHP is a toy language accidentally chosen to power
                                some of the largest websites in the world. You probably want Ruby?') }}
                        </label>
                    </div>
                </div>

                <div class="panel-body">
                    <!-- PHP / Version & Composer -->
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>
                                PHP Version
                                {{ popover.small('Ubuntu appears to have occasional problems using a non-default
                                    PHP repo version. If using Ubuntu, proceed with caution and
                                    <a href="#deploy-target">please reference the default PHP versions
                                        outline here.</a>') }}
                            </label><br />
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="56"
                                    {% if php.version == '56' %}checked{% endif %} /> 5.6
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="55"
                                    {% if php.version == '55' %}checked{% endif %} /> 5.5
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="php[version]" value="54"
                                    {% if php.version == '54' %}checked{% endif %} /> 5.4
                            </label>
                        </div>

                        <div class="col-md-6">
                            <label>
                                Composer
                                {{ popover.small('<a href="https://getcomposer.org">Composer</a> will be available as a
                                    system service:<br />
                                    <code>$ composer</code>') }}
                            </label><br />
                            <label class="checkbox-inline">
                                <input type="checkbox" name="php[composer]" value="1"
                                    {% if php.composer %}checked{% endif %} /> Install Composer
                                <input type="hidden" name="php[composer_home]" value="{{ php.composer_home }}" />
                            </label>
                        </div>

                        <input type="hidden" name="php[mod_php]" value="{{ php.mod_php }}" />
                    </div>
                    <!-- End PHP / Version & Composer -->
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">PHP Libraries</h3>
                </div>

                <div class="panel-body">
                    {{ extra }}
                </div>
            </div>
        </div>
    </div>
</section>
