<div class="tab-pane fade in" id="additional-tools">
    <div class="page-header compact">
        <h1><i class="fa fa-th-large"></i> Additional Tools</h1>
    </div>

    <section id="mail">
        <div class="page-header compact">
            <h1><i class="fa fa-envelope"></i> Mail</h1>
        </div>
        <ul class="nav nav-tabs icon-bar">
            <li class="col-xs-2 active">
                <a href="#mailcatcher-tab" data-toggle="tab">
                    <div class="tab-icon">
                        <img src="{{ asset('assets/v4/img/vendors/mailcatcher-active.png') }}" class="tab-icon-active" />
                        <img src="{{ asset('assets/v4/img/vendors/mailcatcher-inactive.png') }}" class="tab-icon-inactive" />
                        Mailcatcher
                    </div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="mailcatcher-tab">
                {% set extension = extensionManager.getExtensionBySlug('mailcatcher') %}
                {{ extension.renderFront(extension.data)|raw }}
            </div>
        </div>
    </section>

    <section id="work-queue">
        <div class="page-header compact">
            <h1><i class="fa fa-sort-numeric-asc"></i> Work Queues</h1>
        </div>
        <ul class="nav nav-tabs icon-bar">
            <li class="col-xs-2 active">
                <a href="#beanstalkd" data-toggle="tab">
                    <div class="tab-icon">
                        <img src="{{ asset('assets/v4/img/vendors/beanstalkd-active.png') }}" class="tab-icon-active" />
                        <img src="{{ asset('assets/v4/img/vendors/beanstalkd-inactive.png') }}" class="tab-icon-inactive" />
                        Beanstalkd
                    </div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="#rabbitmq" data-toggle="tab">
                    <div class="tab-icon">
                        <img src="{{ asset('assets/v4/img/vendors/rabbitmq-active.png') }}" class="tab-icon-active" />
                        <img src="{{ asset('assets/v4/img/vendors/rabbitmq-inactive.png') }}" class="tab-icon-inactive" />
                        RabbitMQ
                    </div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="beanstalkd">
                {% set extension = extensionManager.getExtensionBySlug('beanstalkd') %}
                {{ extension.renderFront(extension.data)|raw }}
            </div>
            <div class="tab-pane" id="rabbitmq">
                {% set extension = extensionManager.getExtensionBySlug('rabbitmq') %}
                {{ extension.renderFront(extension.data)|raw }}
            </div>
        </div>
    </section>

    <section id="search-server">
        <div class="page-header compact">
            <h1><i class="fa fa-search"></i> Search Servers</h1>
        </div>
        <ul class="nav nav-tabs icon-bar">
            <li class="col-xs-2 active">
                <a href="#elastic_search" data-toggle="tab">
                    <div class="tab-icon">
                        <img src="{{ asset('assets/v4/img/vendors/elasticsearch-active.png') }}" class="tab-icon-active" />
                        <img src="{{ asset('assets/v4/img/vendors/elasticsearch-inactive.png') }}" class="tab-icon-inactive" />
                        Elastic Search
                    </div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="#solr" data-toggle="tab">
                    <div class="tab-icon">
                        <img src="/assets/v4/img/vendors/solr-active.png" class="tab-icon-active" />
                        <img src="/assets/v4/img/vendors/solr-inactive.png" class="tab-icon-inactive" />
                        Apache Solr
                    </div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="elastic_search">
                {% set extension = extensionManager.getExtensionBySlug('elastic_search') %}
                {{ extension.renderFront(extension.data)|raw }}
            </div>
            <div class="tab-pane" id="solr">
                {% set extension = extensionManager.getExtensionBySlug('solr') %}
                {{ extension.renderFront(extension.data)|raw }}
            </div>
        </div>
    </section>


    <ul class="pager">
        <li class="previous"><a href="#database">← Databases</a></li>
        <li class="next"><a href="#create">Create →</a></li>
    </ul>
</div>
