<div class="tab-pane fade in" id="database">
    <div class="page-header compact">
        <h1><i class="fa fa-tasks"></i> Databases</h1>
    </div>
    <ul class="nav nav-tabs icon-bar">
        <li class="col-xs-2 active">
            <a href="#mysql-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/mysql-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/mysql-inactive.png') }}" class="tab-icon-inactive" />
                    MySQL
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#postgresql-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/postgresql-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/postgresql-inactive.png') }}" class="tab-icon-inactive" />
                    PostgreSQL
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#mongodb-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/mongodb-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/mongodb-inactive.png') }}" class="tab-icon-inactive" />
                    MongoDB
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#redis-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/redis-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/redis-inactive.png') }}" class="tab-icon-inactive" />
                    Redis
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#sqlite-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/sqlite-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/sqlite-inactive.png') }}" class="tab-icon-inactive" />
                    SQLite
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="mysql-tab">
            {% set extension = extensionManager.getExtensionBySlug('mysql') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="postgresql-tab">
            {% set extension = extensionManager.getExtensionBySlug('postgresql') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="mongodb-tab">
            {% set extension = extensionManager.getExtensionBySlug('mongodb') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="redis-tab">
            {% set extension = extensionManager.getExtensionBySlug('redis') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="sqlite-tab">
            {% set extension = extensionManager.getExtensionBySlug('sqlite') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#languages">← Languages</a></li>
        <li class="next"><a href="#additional-tools">Additional Tools →</a></li>
    </ul>
</div>
