<div class="tab-pane fade in active" id="deploy-target">
    <div class="page-header compact">
        <h1><i class="fa fa-cloud"></i> Where do you want your virtual machine?</h1>
    </div>
    <ul class="nav nav-tabs icon-bar single-select">
        <li class="col-xs-2 active">
            <a href="#vagrantfile-local-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/local-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/local-inactive.png') }}" class="tab-icon-inactive" />
                    Locally
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-rackspace-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/rackspace-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/rackspace-inactive.png') }}" class="tab-icon-inactive" />
                    Rackspace
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-linode-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="/assets/v4/img/vendors/linode-active.png" class="tab-icon-active" />
                    <img src="/assets/v4/img/vendors/linode-inactive.png" class="tab-icon-inactive" />
                    Linode
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-softlayer-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="/assets/v4/img/vendors/softlayer-active.png" class="tab-icon-active" />
                    <img src="/assets/v4/img/vendors/softlayer-inactive.png" class="tab-icon-inactive" />
                    Softlayer
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-aws-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/aws-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/aws-inactive.png') }}" class="tab-icon-inactive" />
                    Amazon Web Service
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-gce-tab" data-toggle="tab">
                <div class="tab-icon small">
                    <img src="/assets/v4/img/vendors/gce-active.png" class="tab-icon-active" />
                    <img src="/assets/v4/img/vendors/gce-inactive.png" class="tab-icon-inactive" />
                    Google Compute Engine
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="vagrantfile-local-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-local') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-rackspace-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-rackspace') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-linode-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-linode') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-softlayer-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-softlayer') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-aws-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-aws') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-gce-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-gce') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="next"><a href="#system">System →</a></li>
    </ul>
</div>
