<div class="tab-pane active" id="vagrantfile-local">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-local') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-rackspace">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-rackspace') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-linode">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-linode') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-softlayer">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-softlayer') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-aws">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-aws') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-gce">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-gce') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-digitalocean">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-digital_ocean') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="vagrantfile-ikoulacloud">
    {% set extension = extensionManager.getExtensionBySlug('vagrantfile-ikoulacloud') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
