<div class="tab-pane fade in active" id="deploy-target">
    <div class="page-header compact">
        <h1><i class="fa fa-cloud"></i> Where do you want your virtual machine?</h1>
    </div>
    <ul class="nav nav-slice-tabs single-select">
        <li class="col-xs-2 active">
            <a href="#vagrantfile-local-tab" data-toggle="tab">
                Locally
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-rackspace-tab" data-toggle="tab">
                Rackspace
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-linode-tab" data-toggle="tab">
                Linode
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-softlayer-tab" data-toggle="tab">
                Softlayer
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-aws-tab" data-toggle="tab">
                Amazon
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-gce-tab" data-toggle="tab">
                Google
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#vagrantfile-digitalocean-tab" data-toggle="tab">
                Digital Ocean
            </a>
        </li>
       <li class="col-xs-2">
            <a href="#vagrantfile-ikoulacloud-tab" data-toggle="tab">
                Ikoula Cloud
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="vagrantfile-local-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-local') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-rackspace-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-rackspace') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-linode-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-linode') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-softlayer-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-softlayer') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-aws-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-aws') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-gce-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-gce') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-digitalocean-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-digital_ocean') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="vagrantfile-ikoulacloud-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-ikoulacloud') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="next"><a href="#system">System →</a></li>
    </ul>
</div>
