<div class="tab-pane fade in" id="languages">
    <div class="page-header compact">
        <h1><i class="fa fa-code"></i> Languages</h1>
    </div>
    <ul class="nav nav-tabs icon-bar">
        <li class="col-xs-2 active">
            <a href="#php-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/php-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/php-inactive.png') }}" class="tab-icon-inactive" />
                    PHP
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#ruby-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/ruby-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/ruby-inactive.png') }}" class="tab-icon-inactive" />
                    Ruby
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#nodejs-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/nodejs-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/nodejs-inactive.png') }}" class="tab-icon-inactive" />
                    Node.js
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#python-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/python-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/python-inactive.png') }}" class="tab-icon-inactive" />
                    Python
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="php-tab">
            {% set phpLibraries = sections.multiSelectGroupedNoHeaders(extensionManager, 'php-extensions', 'PHP Extensions') %}

            {% set extension = extensionManager.getExtensionBySlug('php') %}
            {{ extension.renderFront(extension.data, phpLibraries)|raw }}
        </div>
        <div class="tab-pane" id="ruby-tab">
            {% set extension = extensionManager.getExtensionBySlug('ruby') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="nodejs-tab">
            {% set extension = extensionManager.getExtensionBySlug('nodejs') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="python-tab">
            {% set extension = extensionManager.getExtensionBySlug('python') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#webserver">← Web Servers</a></li>
        <li class="next"><a href="#database">Databases →</a></li>
    </ul>
</div>
