{% set uniqid = uniqid ?? uniqid('avfm_', true) %}

{% set setenvs = (filesMatch.setenv is defined) ? filesMatch.setenv : [] %}

<div id="apache-vhost-{{ vhostId }}-filesmatch-{{ uniqid }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-path">
            Path
        </label>
        <input type="text" id="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-path"
               name="apache[vhosts][{{ vhostId }}][files_match][{{ uniqid }}][path]"
               placeholder="\.php$" class="form-control"
               value="{{ filesMatch.path }}" />
        <div class="help-block">
            Regex allowed.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-sethandler">
            Set Handler
        </label>
        <input type="text" id="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-sethandler"
               name="apache[vhosts][{{ vhostId }}][files_match][{{ uniqid }}][sethandler]"
               placeholder="proxy:fcgi://127.0.0.1:9000" class="form-control"
               value="{{ filesMatch.sethandler }}" />
        <div class="help-block">
            Regex allowed.
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-setenv">
            Environment Variables
        </label>
        <select id="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-setenv"
                name="apache[vhosts][{{ vhostId }}][files_match][{{ uniqid }}][setenv][]"
                multiple class="form-control select-tags-editable">
            {% for setenv in setenvs %}
                <option selected value="{{ setenv }}">{{ setenv }}</option>
            {% endfor %}
        </select>
        <div class="help-block">
            <code>name value</code>, separated by comma.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-custom_fragment">
            FilesMatch-Level Custom Directives
        </label>
        <input type="text" id="apache-vhosts-{{ vhostId }}-files_match-{{ uniqid }}-custom_fragment"
               name="apache[vhosts][{{ vhostId }}][files_match][{{ uniqid }}][custom_fragment]"
               placeholder="/path/to/file" class="form-control"
               value="{{ filesMatch.custom_fragment }}" />
        <div class="help-block">
            File must exist inside VM on initial <code>$ vagrant up</code>!
            <a href="https://gist.github.com/jtreminio/bcb78ccb97978a2cbd9e#file-gistfile1-apacheconf-L28"
               target="_blank">The custom fragment will be added here</a>.
        </div>
    </div>

    <input type="hidden" name="apache[vhosts][{{ vhostId }}][files_match][{{ uniqid }}][provider]"
           value="{{ filesMatch.provider }}" />

    <div class="clearfix"></div>
</div>
