{% if dbNum is not defined %}
{% set dbNum = 1 %}
{% endif %}

<div id="mysql-dbuser-{{ dbNum }}">
    <div class="bs-example createUserDb">
        <fieldset>
            <legend>Create User &amp; Database #{{ dbNum }}</legend>

            <div class="row">
                <div class="col col-lg-8">
                    <label for="mysql-dbuser-{{ dbNum }}-privileges">Privileges</label>
                    <select multiple="multiple" id="mysql-dbuser-{{ dbNum }}-privileges"
                            name="mysql[dbuser][{{ dbNum }}][privileges][]" size="6">
                        <optgroup label="Give all">
                            <option value="ALL" selected="selected">ALL</option>
                        </optgroup>
                        <optgroup label="or, Give some">
                            <option value="ALTER">ALTER</option>
                            <option value="CREATE">CREATE</option>
                            <option value="CREATE TEMPORARY TABLES">CREATE TEMPORARY TABLES</option>
                            <option value="DELETE">DELETE</option>
                            <option value="DROP">DROP</option>
                            <option value="EXECUTE">EXECUTE</option>
                            <option value="FILE">FILE</option>
                            <option value="INDEX">INDEX</option>
                            <option value="INSERT">INSERT</option>
                            <option value="LOCAL TABLES">LOCAL TABLES</option>
                            <option value="PROCESS">PROCESS</option>
                            <option value="REFERENCES">REFERENCES</option>
                            <option value="RELOAD">RELOAD</option>
                            <option value="REPLICATION CLIENT">REPLICATION CLIENT</option>
                            <option value="REPLICATION SLAVE">REPLICATION SLAVE</option>
                            <option value="SELECT">SELECT</option>
                            <option value="SHOW DATABASES">SHOW DATABASES</option>
                            <option value="SHUTDOWN">SHUTDOWN</option>
                            <option value="SUPER">SUPER</option>
                            <option value="UPDATE">UPDATE</option>
                            <option value="USAGE">USAGE</option>
                            <option value="GRANT OPTION">GRANT OPTION</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col col-lg-5">
                    <label for="mysql-dbuser-{{ dbNum }}-user">Username</label>
                    <input id="mysql-dbuser-{{ dbNum }}-user" name="mysql[dbuser][{{ dbNum }}][user]" type="text"
                           placeholder="username" value="" />
                </div>
                <div class="col col-lg-5">
                    <label for="mysql-dbuser-{{ dbNum }}-password">Password</label>
                    <input id="mysql-dbuser-{{ dbNum }}-password" name="mysql[dbuser][{{ dbNum }}][password]"
                           type="text" placeholder="password" value="" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col col-lg-5">
                    <label class="control-label" for="mysql-dbuser-{{ dbNum }}-dbname">Database Name</label>
                    <input id="mysql-dbuser-{{ dbNum }}-dbname" name="mysql[dbuser][{{ dbNum }}][dbname]"
                           type="text" placeholder="database_name" value="" />
                </div>
                <div class="col col-lg-5">
                    <label class="control-label" for="mysql-dbuser-{{ dbNum }}-host">Host</label>
                    <input id="mysql-dbuser-{{ dbNum }}-host" name="mysql[dbuser][{{ dbNum }}][host]" type="text"
                           placeholder="" value="localhost" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col col-lg-5">
                    <label class="control-label" for="mysql-dbuser-{{ dbNum }}-sql">Import Database From File</label>
                    <input id="mysql-dbuser-{{ dbNum }}-sql" name="mysql[dbuser][{{ dbNum }}][sql]"
                            type="text" placeholder="/var/www/sql/database_name.sql" value="" />
                    <p class="help-block">Optional. Make sure this file is inside the VM before running <code>$ vagrant up</code></p>
                </div>
            </div>
        </fieldset>

        <br />

        {% if dbNum != '1' %}
            <p class="text-center"><a class="mysql-dbuser-del btn btn-danger" href="#" rel="mysql-dbuser-{{ dbNum }}">Delete this Database</a></p>
        {% endif %}
    </div>
</div>
