{% set uniqid = uniqid('nxvl_', true) %}
{% set autoindex = (location.autoindex is defined and location.autoindex is same as('on')) ? true : false %}
{% set internal = (location.internal is defined and location.internal is same as('on')) ? true : false %}
{% set try_files = (location.try_files is defined) ? location.try_files : [] %}
{% set fast_cgi_params_extras = (location.fast_cgi_params_extra is defined) ? location.fast_cgi_params_extra : [] %}
{% set sets = (location.set is defined) ? location.set : [] %}
{% set proxy_set_headers = (location.proxy_set_header is defined) ? location.proxy_set_header : [] %}
{% set rewrites = (location.rewrites is defined) ? location.rewrites : [] %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Location</legend>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#location"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-location">Location Match</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-location"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][location]"
                   placeholder="/" class="form-control"
                   value="{{ location.location }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="checkbox">
                <span class="help-text">
                    Enables directory listings.
                </span>
                <input class="styled" type="checkbox"
                       {% if autoindex %}checked{% endif %} value="on"
                       id="nginx-vhosts-{{ uniqid }}-locations-{{ uniqid }}-autoindex"
                       name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][autoindex]" />
                <label for="nginx-vhosts-{{ uniqid }}-locations-{{ uniqid }}-autoindex">
                    Enable autoindex
                </label>
            </div>

            <div class="checkbox">
                <span class="help-text">
                    Designates location as internal-only.
                    See <a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#internal"
                           title="nginx internal location docs">nginx documentation</a> for more details.
                </span>
                <input class="styled" type="checkbox"
                       {% if internal %}checked{% endif %} value="true"
                       id="nginx-vhosts-{{ uniqid }}-locations-{{ uniqid }}-internal"
                       name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][internal]" />
                <label for="nginx-vhosts-{{ uniqid }}-locations-{{ uniqid }}-internal">
                    Enable internal
                </label>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#try_files"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-try_files">Try Files</label>
            <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-try_files"
                    name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][try_files][]"
                    multiple class="form-control select-tags-editable">
                {% for try_file in try_files %}
                    <option selected value="{{ try_file }}">{{ try_file }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_pass"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi">FastCGI Pass</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi]"
                   placeholder="127.0.0.1:9000" class="form-control"
                   value="{{ location.fastcgi }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_index"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_index">FastCGI Index</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_index"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi_index]"
                   placeholder="index.php" class="form-control"
                   value="{{ location.fastcgi_index }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_split_path_info"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_split_path">FastCGI Split Path Info</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_split_path"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi_split_path]"
                   placeholder="^(.+\.php)(/.*)$" class="form-control"
                   value="{{ location.fastcgi_split_path }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <code>name value</code>, separated by comma. Unlike Apache, each variable must have a value.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fast_cgi_params_extra">FastCGI Environment Variables</label>
            <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fast_cgi_params_extra"
                    name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fast_cgi_params_extra][]"
                    multiple class="form-control select-tags-editable">
                {% for param in fast_cgi_params_extras %}
                    <option selected value="{{ param }}">{{ param }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <code>name value</code>, separated by comma.
                <a href="http://nginx.org/en/docs/http/ngx_http_rewrite_module.html#set"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-set">Set Variables</label>
            <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-set"
                    name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][set][]"
                    multiple class="form-control select-tags-editable">
                {% for param in sets %}
                    <option selected value="{{ param }}">{{ param }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-12">
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy">Proxy</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][proxy]"
                   placeholder="http://127.0.0.1:8080/" class="form-control"
                   value="{{ location.proxy }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_redirect"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy_redirect">Proxy Redirect</label>
            <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy_redirect"
                   name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][proxy_redirect]"
                   placeholder="off" class="form-control"
                   value="{{ location.proxy }}"/>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                <code>name value</code>, separated by comma.
                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_set_header"
                   target="_blank">More information</a>.
            </div>
            <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy_set_header">Proxy Set Header</label>
            <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-proxy_set_header"
                    name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][proxy_set_header][]"
                    multiple class="form-control select-tags-editable">
                {% for param in proxy_set_headers %}
                    <option selected value="{{ param }}">{{ param }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="clearfix"></div>

        {% for rewrite in rewrites %}
            {% include 'PuphpetBundle:nginx/sections:location_rewrite.html.twig' with {'vhostId': vhostId, 'locationId': uniqid, 'rewrite': rewrite} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.nginx.location_rewrite', {'vhostId': vhostId, 'locationId': uniqid}) }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add a location rewrite</a>

        <div class="clearfix"></div>
    </fieldset>
</div>
