{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<input type="hidden" id="vagrantfile-ikoulacloud-vm-box" name="vagrantfile-ikoulacloud[vm][box]" value="ikoulacloud" />
<input type="hidden" id="vagrantfile-ikoulacloud-ssh-username" name="vagrantfile-ikoulacloud[ssh][username]" value="{{ data.ssh.username }}" />
<input type="hidden" id="vagrantfile-ikoulacloud-vm-provider-cloudstack-zone_name" name="vagrantfile-ikoulacloud[vm][provider][cloudstack][zone_name]" value="{{ data.vm.provider.cloudstack.zone_name }}" />

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            {% include 'PuphpetExtensionVagrantfileIkoulaCloudBundle:sections:Instructions.html.twig' %}

            <div class="panel-heading">
                <h3 class="panel-title">Ikoula Cloud Instance Details</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12 padded-fieldset">
                        <label>
                            Ikoula Cloud Instance Image
                            {{ popover.small('Choose the operating system for your VM. Ikoula has pre-defined
                                systems you can choose from. The ones listed are the ones PuPHPet has been tested with
                                so far.<br /><br />
                                Note: Listed are the PHP installs that we have confirmed as working for their
                                respective operating system. You are welcome to attempt to install higher if you\'d
                                like, but we cannot guarantee it will work. In fact in most cases it won\'t.')
                            }}
                        </label><br />
                        {% for zone_name, images in data.available_images %}
                            <fieldset>
                                <legend>{{ attribute(data.available_zone_names, zone_name) }}</legend>
                                {% for image in images %}
                                    <label class="radio">
                                        <input type="radio"
                                               name="vagrantfile-ikoulacloud[vm][provider][cloudstack][template_name]" class="update-other-input"
                                               data-update-vagrantfile-ikoulacloud-ssh-username="{{ image.ssh_username }}"
                                               data-update-vagrantfile-ikoulacloud-vm-provider-cloudstack-zone_name="{{ zone_name }}"
                                               {% if image.template_name == data.vm.provider.cloudstack.template_name %}checked{% endif %}
                                               value="{{ image.template_name }}" />{{ image.name }}
                                        {% if image.php_versions is defined %}
                                            (PHP
                                            {% for php in image.php_versions %}
                                                <span class="label php-version-{{ php|replace('.', '-') }}">{{ php }}</span>
                                            {% endfor %}
                                            )
                                        {% endif %}
                                        {% if image.marketplace is defined %}
                                        [<a href="{{ image.marketplace }}" target="_blank">Requires Ikoula agreement. Click here to add to your account</a>]
                                        {% endif %}
                                    </label>
                                {% endfor %}
                            </fieldset>
                            <div class="clear-fix"></div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-service_offering_name">
                            Ikoula Cloud Instance Type
                            {{ popover.small('Ikoula pricing is famously easy to calculate :)') }}
                        </label>
                        <select id="vagrantfile-ikoulacloud-vm-provider-cloustack-service_offering_name"
                                name="vagrantfile-ikoulacloud[vm][provider][cloudstack][service_offering_name]"
                                class="form-control select-tag">
                            {% for type, description in data.available_service_offering_names %}
                                <option value="{{ type }}"
                                    {% if type == data.vm.provider.cloudstack.service_offering_name %}selected{% endif %}>{{ type }} - {{ description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-api_key">
                            Ikoula Cloud API Key ID
                            {{ popover.small('<a href="https:/cloudstack.ikoula.com/client" target="_blank">Get it here</a>.
                                You can leave this blank and fill it in manually in the <code>Vagrantfile</code> if you want.') }}
                        </label>
                        <input id="vagrantfile-ikoulacloud-vm-provider-cloudstack-api_key"
                               name="vagrantfile-ikoulacloud[vm][provider][cloudstack][api_key]"
                               placeholder="Ikoula Cloud ACCESS KEY ID"
                               value="{{ data.vm.provider.cloudstack.api_key }}" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-secret_key">
                            Ikoula Cloud Secret Access Key
                            {{ popover.small('<a href="https://cloudstack.ikoula.com/client" target="_blank">Get it here</a>.
                                You can leave this blank and fill it in manually in the <code>Vagrantfile</code> if you want.') }}
                        </label>
                        <input id="vagrantfile-ikoulacloud-vm-provider-cloudstack-secret_key"
                               name="vagrantfile-ikoulacloud[vm][provider][cloudstack][secret_key]"
                               placeholder="Ikoula Cloud SECRET KEY"
                               value="{{ data.vm.provider.cloudstack.secret_key }}" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-keypair">
                            ikoulacloud Key Pair Name
                            {{ popover.small('The Key Pair name, go here to know how to generate/list <a href="">keypairs</a> target="_blank">here</a>') }}
                        </label>
                        <input id="vagrantfile-ikoulacloud-vm-provider-cloustack-keypair"
                               name="vagrantfile-ikoulacloud[vm][provider][cloudstack][keypair]"
                               placeholder="ikoulacloud KEY PAIR NAME"
                               value="{{ data.vm.provider.cloudstack.keypair }}" class="form-control" />

                        <p class="help-block">

                        </p>
                    </div>

                    <div class="col-md-6">
                        <label for="vagrantfile-ikoulacloud-ssh-private_key_path">
                            Local Private Key Path
                            {{ popover.small('The Ikoula Cloud VM will not be accessible without your private/public key.
                                <strong>It will not be accessible using username/password, only private key!</strong>
                                This corresponds to the Key Pair identified to the left!') }}
                        </label>
                        <input id="vagrantfile-ikoulacloud-ssh-private_key_path"
                               name="vagrantfile-ikoulacloud[ssh][private_key_path]"
                               placeholder="~/.ssh/id_rsa"
                               value="{{ data.ssh.private_key_path }}" class="form-control" />
                    </div>
                </div>
<!--
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-network_name">
                            Ikoula Cloud Network name
                            {{ popover.small('<a href="https:/cloudstack.ikoula.com/client" target="_blank">Get it here</a>.
                                You can leave this blank and fill it in manually in the <code>Vagrantfile</code> if you want.') }}
                        </label>
                        <input id="vagrantfile-ikoulacloud-vm-provider-cloudstack-network_name"
                               name="vagrantfile-ikoulacloud[vm][provider][cloudstack][network_name]"
                               placeholder="Ikoula Cloud Network name"
                               value="{{ data.vm.provider.cloudstack.network_name }}" class="form-control" />
                    </div>
                </div>
-->
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="vagrantfile-ikoulacloud-vm-provider-cloudstack-security_groups_id">
                            Ikoula Cloud Security Groups
                            {{ popover.small('Assign security groups to this instance.
                                <a href="https://cloudstack.ikoula.com/client" target="_blank">Get them here</a>.') }}
                        </label>
                        <select id="vagrantfile-ikoulacloud-vm-provider-cloudstack-security_groups_id"
                                name="vagrantfile-ikoulacloud[vm][provider][cloudstack][security_groups_id][]"
                                multiple class="form-control select-tags-editable">
                            {% for group in data.vm.provider.cloudstack.security_groups_id %}
                                <option value="{{ group }}" selected>{{ group }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {% for synced_folder in data.vm.synced_folder %}
                {% include 'PuphpetExtensionVagrantfileIkoulaCloudBundle:sections:SyncedFolder.html.twig' with {'synced_folder': synced_folder} %}
            {% endfor %}

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2">
                    <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                            data-source-url="{{ path('puphpet.extension.vagrantfile.ikoulacloud.synced_folder') }}">Add another ikoulacloud VM shared folder</button>
                </div>
            </div>
        </div>
    </div>
</div>
