{% if sharedFolderNum is not defined %}
    {% set sharedFolderNum = 1 %}
{% endif %}

<fieldset id="vagrant-rackspace-sharedfolder-{{ sharedFolderNum }}">
    <legend>Shared Folder #{{ sharedFolderNum }}</legend>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-synced_folder-source">Box Sync Folder Source</label>
            <input id="provider-rackspace-synced_folder-source" name="provider[rackspace][sharedfolder][{{ sharedFolderNum }}][synced_folder][source]" type="text"
                   required placeholder="/path/to/your/web/files" value="./" />
        </div>

        <div class="col col-lg-5">
            <label for="provider-rackspace-synced_folder-target">Box Sync Folder Target</label>
            <input id="provider-rackspace-synced_folder-target" name="provider[rackspace][sharedfolder][{{ sharedFolderNum }}][synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www" />
        </div>
    </div>

    <br />
    {% if sharedFolderNum != '1' %}
        <p class="text-center"><a class="vagrant-rackspace-sharedfolder-del btn btn-danger" href="#" rel="vagrant-rackspace-sharedfolder-{{ sharedFolderNum }}">Delete this Shared Folder</a></p>
    {% endif %}
</fieldset>