<section id="vagrantfile">

    <input type="hidden" id="vm-location" name="vm-location" value="local" />
    <input type="hidden" id="operating-system" name="operating-system" value="debian" />
    <input type="hidden" id="vagrantfile-vm-box" name="vagrantfile[vm][box]" value="{{ vagrantfile.vm.box }}" />

    <div class="page-header">
      <h1 id="base-configuration">Base Configuration</h1>
    </div>

    <!-- Vagrantfile / Operating System -->
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Operating System</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        {% for box in vagrantfile.available_boxes %}
                            <label class="radio">
                                <input type="radio" name="vagrantfile[vm][box_url]"
                                       value="{{ box.url }}" {% if box.url == vagrantfile.vm.box_url %}checked{% endif %}
                                       data-operating-system="{{ box.os }}" data-vagrantfile-vm-box="{{ box.short_name }}" />
                                {{ box.long_name }}
                                {% if box.php_versions is defined %}
                                    (PHP
                                    {% for php in box.php_versions %}
                                        <span class="label php-version-{{ php|replace('.', '-') }}">{{ php }}</span>
                                    {% endfor %}
                                    )
                                {% endif %}

                            </label>
                        {% endfor %}
                    </div>

                    <p class="help-block">
                        Choose the operating system for your VM. It will be downloaded the first time you run Vagrant.
                        <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html">More
                            information may be found here</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-xs-3 right-panel"></div>
    </div>
    <!-- end Vagrantfile / Operating System -->

    <!-- Vagrantfile / Details -->
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Set Up Local VM</h3>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="vagrantfile-vm-provider-virtualbox-name">Name Your Box</label>
                            <input type="text" id="vagrantfile-vm-provider-virtualbox-name"
                                   name="vagrantfile[vm][provider][virtualbox][name]"
                                   required placeholder="my-vm-box"
                                   value="{{ vagrantfile.vm.provider.virtualbox.name }}" class="form-control" />

                            <p class="help-block">
                                Your personal name for the box. Should be unique to your system.
                                If you have multiple boxes running, name each one differently.
                            </p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="vagrantfile-vm-network-private_network">Box IP Address</label>
                            <input type="text" id="vagrantfile-vm-network-private_network"
                                   name="vagrantfile[vm][network][private_network]"
                                   required placeholder="192.168.56.101"
                                   value="{{ vagrantfile.vm.network.private_network }}" class="form-control" />

                            <p class="help-block">IP address to use for accessing the VM</p>
                        </div>

                        <div class="col-md-6">
                            <label for="vagrantfile-vm-provider-virtualbox-memory">Box Memory</label>
                            <input type="text" id="vagrantfile-vm-provider-virtualbox-memory"
                                   name="vagrantfile[vm][provider][virtualbox][memory]"
                                   required placeholder="512" pattern="^[1-9][0-9]*$" min="64"
                                   value="{{ vagrantfile.vm.provider.virtualbox.memory }}" class="form-control" />

                            <p class="help-block">Memory to assign to VM in megabytes (only
                                integers)</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-3 right-panel"></div>
    </div>
    <!-- end Vagrantfile / Details -->

    {% for forwarded_port in vagrantfile.vm.network.forwarded_port %}
        {% include 'PuphpetExtensionVagrantfileBundle:form/sections:ForwardedPort.html.twig' with {'forwarded_port': forwarded_port} %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-9">
            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                    data-source-url="{{ path('puphpet.extension.vagrantfile.forwarded_port') }}">Add another port pair</button>
        </div>
    </div>

    {% for synced_folder in vagrantfile.vm.synced_folder %}
        {% include 'PuphpetExtensionVagrantfileBundle:form/sections:SyncedFolder.html.twig' with {'synced_folder': synced_folder} %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-9">
            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                    data-source-url="{{ path('puphpet.extension.vagrantfile.synced_folder') }}">Add another shared folder</button>
        </div>
    </div>

</section>
