{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('rubyav_', true) %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Ruby Version via RVM</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline">
                    <input type="checkbox" class="ruby-versions-{{ uniqid }}-default"
                           name="ruby[versions][{{ uniqid }}][default]"
                           {% if selected_version.default is defined and selected_version.default %}checked{% endif %} value="1" />
                    Set this as system-wide default version. Don't set more than one version as default.
                </label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="ruby-versions-{{ uniqid }}-version">Choose Version</label>

                <select id="ruby-versions-{{ uniqid }}-version"
                        name="ruby[versions][{{ uniqid }}][version]" size="6"
                        class="form-control select-tags">
                    {% for available in available_versions %}
                        <option value="{{ available }}"
                            {% if available == selected_version.version %}selected{% endif %}>{{ available }}</option>
                    {% endfor %}
                </select>

                <p class="help-block">
                    Choosing Ruby <= 1.9.2 requires compiling. This will take time! All others have binaries available.
                </p>
            </div>

            <div class="col-md-6">
                <label for="ruby-versions-{{ uniqid }}-gems">
                    Installed Gems
                    {{ popover.small('<a href="https://rubygems.org/gems" target="_blank">All valid Gems list</a>') }}
                </label>
                <select id="ruby-versions-{{ uniqid }}-gems" name="ruby[versions][{{ uniqid }}][gems][]"
                        multiple class="form-control select-tags-editable">
                    {% if selected_version.gems is defined %}
                        {% for gem in selected_version.gems %}
                            <option selected value="{{ gem }}">{{ gem }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                <p class="help-block">
                    To install a specific version, use <code>{gem}@{version}</code>.
                    ex: <code>rails@4.1.3</code>. For latest just use <code>{gem}</code>.
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline">
                    <input type="checkbox" class="ruby-versions-{{ uniqid }}-bundler"
                           name="ruby[versions][{{ uniqid }}][bundler]"
                           {% if selected_version.bundler is defined and selected_version.bundler %}checked{% endif %} value="1" />
                    Install Bundler
                </label>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this Ruby version</button>
        </p>
    </div>
</div>
