{% set uniqid = uniqid ?? uniqid('mariadbnd_', true) %}

<div id="mariadb-database-{{ uniqid }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="mariadb-databases-{{ uniqid }}-name">
            DB Name
        </label>
        <input type="text" id="mariadb-databases-{{ uniqid }}-name"
               name="mariadb[databases][{{ uniqid }}][name]"
               placeholder="database_name" class="form-control"
               value="{{ database.name }}" />
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="mariadb-databases-{{ uniqid }}-sql">
            Import Database From File
        </label>
        <input type="text" id="mariadb-databases-{{ uniqid }}-sql"
               name="mariadb[databases][{{ uniqid }}][sql]"
               placeholder="/path/to/your/db/file" class="form-control"
               value="{{ database.sql }}" />
        <div class="help-block">
            Optional. Make sure this file is inside the VM,
            or is inside a shared folder before running <code>$ vagrant up</code>
        </div>
    </div>
</div>
