{% set uniqid = uniqid('vfslm_', true) %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Multi Machines</legend>

        <div class="form-group col-xs-6">
            <div class="help-text">
                This is the ID used within the <code>Vagrantfile</code>. It is only used
                for your internal identification.
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-id">Internal Identifier</label>
            <input type="text" id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-id"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][id]"
                   placeholder="machine1" class="form-control"
                   value="{{ machine.id }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                The hostname the machine should have. This will be combined with the domain below
                to make <code>{hostname}.{domain}</code>.
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-hostname">Hostname</label>
            <input type="text" id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-hostname"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][hostname]"
                   placeholder="machine1" class="form-control"
                   value="{{ machine.hostname }}" />
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                <p>Must end in valid TLD.</p>

                <p>Your VM will be named {HOSTNAME}.{DOMAIN}</p>

                <p>The hostname and domain must be alphanumeric strings that may be separated by periods '.'.
                    The only other allowable special character is the dash '-' However the special
                    characters '.' and '-' may not be consecutive. Each alphanumeric string separated by a
                    period is considered a label. Labels must begin and end with an alphanumeric character.
                    Each label cannot be solely comprised of digits and must be between 1-63 characters in
                    length. The last label, the TLD (top level domain) must be between 2-6 alphabetic
                    characters. The domain portion must consist of least one label followed by a period '.'
                    then ending with the TLD label. Combining the hostname, followed by a period '.',
                    followed by the domain gives the FQDN (fully qualified domain name), which may not
                    exceed 253 characters in total length.</p>
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-domain">Server Name</label>
            <input type="text" id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-domain"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][domain]"
                   placeholder="machine.com" class="form-control"
                   value="{{ machine.domain }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                <p>Choose the one closest to you, or your target audience!</p>

                <p>If you get an error that looks like
                    'There is insufficient Local disk resources in {DATACENTER} to create the following
                    guests: {HOSTNAME}', choose a different datacenter.</p>
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-datacenter">Datacenter Location</label>
            <select id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-datacenter"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][datacenter]"
                   class="form-control select-tag">
                {% for key, datacenter in datacenters %}
                    <option value="{{ key }}"
                        {% if key == machine.datacenter %}selected{% endif %}>{{ datacenter }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                <a href="http://www.softlayer.com/virtual-servers"
                   target="_blank">Pricing information</a>.
                SoftLayer charges by the hour, but also shows what a full month would cost.
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-start_cpus">CPUs</label>
            <select id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-start_cpus"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][start_cpus]"
                   class="form-control select-tag">
                {% for key, name in cpus %}
                    <option value="{{ key }}"
                        {% if key == machine.start_cpus %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                <a href="http://www.softlayer.com/virtual-servers"
                   target="_blank">Pricing information</a>.
                SoftLayer charges by the hour, but also shows what a full month would cost.
            </div>
            <label for="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-max_memory">Memory</label>
            <select id="vagrantfile-vm-provider-softlayer-machines-{{ uniqid }}-max_memory"
                   name="vagrantfile[vm][provider][softlayer][machines][{{ uniqid }}][max_memory]"
                   class="form-control select-tag">
                {% for key, memory in memories %}
                    <option value="{{ key }}"
                        {% if key == machine.max_memory %}selected{% endif %}>{{ memory }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>
