{% set uniqid = uniqid('postsqlng_', true) %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Additional Grant</legend>

        <div class="form-group col-xs-6">
            <div class="help-text">
                User must be defined in section above!
            </div>
            <label for="postgresql-grants-{{ uniqid }}-role">User</label>
            <input type="text" id="postgresql-grants-{{ uniqid }}-role"
                   name="postgresql[grants][{{ uniqid }}][role]"
                   placeholder="username" class="form-control"
                   value="{{ grant.role }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                Database must be defined in section above!
            </div>
            <label for="postgresql-grants-{{ uniqid }}-db">Database</label>
            <input type="text" id="postgresql-grants-{{ uniqid }}-db"
                   name="postgresql[grants][{{ uniqid }}][db]"
                   placeholder="database_name" class="form-control"
                   value="{{ grant.db }}" />
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Choose "All" or a mix of the others.
            </div>
            <label for="postgresql-grants-{{ uniqid }}-privilege">Privileges</label>
            <select id="postgresql-grants-{{ uniqid }}-privilege"
                   multiple name="postgresql[grants][{{ uniqid }}][privilege][]"
                   class="form-control select-tags-editable">
                {% if grant.privilege is defined %}
                    {% for privilege in grant.privilege %}
                        <option selected value="{{ privilege }}">{{ privilege }}</option>
                    {% endfor %}
                {% endif %}

                {% for privilege in available_privileges %}
                    {% if privilege not in grant.privilege %}
                        <option value="{{ privilege }}">{{ privilege }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>
