{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<input type="hidden" name="is_disabled[postgresql]" value="0" />

<section id="postgresql">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PostgreSQL Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input class="install-checkbox" type="checkbox" name="postgresql[install]"
                                   data-hide-on-uncheck="#postgresql-config-container"
                                   {% if postgresql.install %}checked{% endif %} value="1" />
                            Install PostgreSQL
                            {{ popover.small('The world\'s most advanced open source database.') }}
                        </label>
                    </div>
                </div>

                <div class="{% if not postgresql.install %}hidden{% endif %}" id="postgresql-config-container">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Version</label><br />

                                {% for version in postgresql.available_versions %}
                                    <label class="radio-inline">
                                        <input type="radio" name="postgresql[settings][version]" value="{{ version }}"
                                            {% if version == postgresql.settings.version %}checked{% endif %} /> {{ version }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="postgresql-settings-root_password">
                                    Root Password
                                    {{ popover.small('Assign a password to the root user.
                                        <strong>Database will only be installed when a password is entered here.</strong>') }}
                                </label>
                                <input type="text" id="postgresql-settings-root_password" name="postgresql[settings][root_password]"
                                       value="{{ postgresql.settings.root_password }}" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="postgresql-adminer">
                                    Adminer
                                    {{ popover.small('If installed it will be available from
                                        <code>http://{SERVER_IP_ADDRESS}/adminer</code>.') }}
                                </label><br />
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="postgresql-adminer" name="postgresql[adminer]"
                                           {% if postgresql.adminer %}checked{% endif %} value="1" /> Install Adminer
                                </label>
                            </div>
                        </div>

                        <p class="help-block">
                            The preferred way to connect to your database is using a dedicated application like
                            <a href="http://www.valentina-db.com/valentina-studio-overview" target="_blank">Valentina Studio (OS X)</a> and
                            <a href="http://www.pgadmin.org/" target="_blank">pgAdmin (Cross Platform)</a>.

                            <br /><br />

                            Connect using SSH tunnel, username <code>vagrant</code> and SSH key generated at
                            <code>puphpet/files/dot/ssh/id_rsa</code>. This key is generated <strong>after</strong>
                            your initial <code>$ vagrant up</code>!
                        </p>
                    </div>

                    {% for database in postgresql.databases %}
                        {% include 'PuphpetExtensionPostgresqlBundle:form/sections:NewUserAndDatabase.html.twig'
                            with {'available_privileges': postgresql.available_privileges, 'database': database} %}
                    {% endfor %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-push-2">
                            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                    data-source-url="{{ path('puphpet.extension.postgresql.add_database') }}">Add another PostgreSQL database</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
