<div class="section-header hidden">
    <h1>PHP</h1>
    <p class="lead">Install PHP system-wide and choose modules and settings.</p>
</div>

<div class="form-group">
    <span class="help-text">
        PHP is a toy language accidentally chosen to power
        some of the largest websites in the world. You probably want Ruby?
    </span>
    <div class="clearfix"><label>Install</label></div>

    <label class="col-xs-12 radio-tile">
        <input type="checkbox" name="php[install]" value="1"
               class="invisible toggle-on-select update-other-input-on-check"
               {% if php.install %}checked{% endif %}
               data-vis-toggle-target="#php-container"
               data-update-on-check-hhvm[install]="0" />
        <span class="content">
            <span class="header large">
                <i class="icon"></i>
                <span class="title">Install PHP</span>
            </span>
            <span class="footer">
                If you install PHP, you cannot install HHVM.
            </span>
        </span>
    </label>

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="php-container" class="{% if not php.install %}hidden{% endif %}">
    <div class="form-group col-xs-6">
        <div class="clearfix"><label>PHP Version</label></div>

        <label class="radio-tile mini set-width">
            <span class="help-text">
                CentOS 6, Debian 7, Ubuntu 14.04.
            </span>
            <input type="radio" name="php[settings][version]"
                   class="invisible"
                   {% if php.settings.version == '56' %}checked{% endif %}
                   value="56" />
            <span class="content">
                <span class="header">
                    <i class="icon"></i>
                    <span class="title">5.6</span>
                </span>
            </span>
        </label>

        <label class="radio-tile mini set-width">
            <span class="help-text">
                Available on all distros.
            </span>
            <input type="radio" name="php[settings][version]"
                   class="invisible"
                   {% if php.settings.version == '55' %}checked{% endif %}
                   value="56" />
            <span class="content">
                <span class="header">
                    <i class="icon"></i>
                    <span class="title">5.5</span>
                </span>
            </span>
        </label>

        <label class="radio-tile mini set-width">
            <span class="help-text">
                CentOS 6, Debian 7, Ubuntu 12.04.
            </span>
            <input type="radio" name="php[settings][version]"
                   class="invisible"
                   {% if php.settings.version == '54' %}checked{% endif %}
                   value="56" />
            <span class="content">
                <span class="header">
                    <i class="icon"></i>
                    <span class="title">5.4</span>
                </span>
            </span>
        </label>
    </div>

    <div class="form-group col-xs-6">
        <div class="clearfix"><label>System-Wide Composer</label></div>

        <label class="radio-tile mini set-width">
            <span class="help-text">
                <a href="https://getcomposer.org">Composer</a> will be available as a
                system service:<br />
                <code>$ composer</code>
            </span>
            <input type="checkbox" name="php[composer]"
                   class="invisible"
                   {% if php.composer %}checked{% endif %}
                   value="1" />
            <span class="content">
                <span class="header">
                    <i class="icon"></i>
                    <span class="title">Install Composer</span>
                </span>
            </span>
        </label>

        <input type="hidden" name="php[composer_home]" value="{{ php.composer_home }}" />
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            All settings added to a single INI file.
        </div>
        <label for="php-ini-displayer">INI Settings</label>
        <select id="php-ini-displayer" multiple
                class="form-control select-tags-user-input"
                data-target-container="php-ini"
                data-target-name="php[ini]">
            {% set flattened = [] %}
            {% for ini, values in php.available_ini %}
                {% if values is not empty %}
                    <optgroup label="{{ ini }}">
                        {% for value in values %}
                            {% set flattened = flattened|merge([value]) %}
                            <option value="{{ value }}"
                                {% if value in php.ini|keys %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </optgroup>
                {% else %}
                    {% set flattened = flattened|merge([ini]) %}
                    <option value="{{ ini }}"
                        {% if ini in php.ini|keys %}selected{% endif %}>{{ ini }}</option>
                {% endif %}
            {% endfor %}

            {% for name, value in php.ini %}
                {% if name not in flattened %}
                    <option value="{{ name }}" selected>{{ name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div id="php-ini" class="hidden">
            {% for name, value in php.ini %}
                <input type="hidden" name="php[ini][{{ name }}]"
                       data-option-name="{{ name }}" value="{{ value }}" />
            {% endfor %}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            If you've chosen CentOS, Some modules come pre-installed: <code>curl</code>,
            <code>imagick</code>, <code>memcached</code>, <code>sqlite</code>.
            Don't choose these here.
        </div>
        <label for="php-modules-php">PHP Modules</label>
        <select id="php-modules-php"
                name="php[modules][php][]"
                multiple class="form-control select-tags-editable">
            {% for module in php.modules.php %}
                <option value="{{ module }}" selected>{{ module }}</option>
            {% endfor %}

            {% for module in php.available_modules.php if module not in php.modules.php %}
                <option value="{{ module }}">{{ module }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            Modules to be installed via PEAR.
        </div>
        <label for="php-modules-pear">PEAR Modules</label>
        <select id="php-modules-pear" multiple
                class="form-control select-tags-editable">
            {% set flattened = [] %}
            {% for namespace, modules in php.available_modules.pear %}
                <optgroup label="{{ namespace }}">
                    {% for module in modules %}
                        {% set flattened = flattened|merge([module]) %}
                        <option value="{{ module }}"
                            {% if module in php.modules.pear %}selected{% endif %}>{{ module }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}

            {% for module in php.modules.pear %}
                {% if module not in flattened %}
                    <option value="{{ module }}" selected>{{ module }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            Modules to be installed via PECL.
        </div>
        <label for="php-modules-pecl">PECL Modules</label>
        <select id="php-modules-pecl" multiple
                class="form-control select-tags-editable">
            {% set flattened = [] %}
            {% for namespace, modules in php.available_modules.pecl %}
                <optgroup label="{{ namespace }}">
                    {% for module in modules %}
                        {% set flattened = flattened|merge([module]) %}
                        <option value="{{ module }}"
                            {% if module in php.modules.pecl %}selected{% endif %}>{{ module }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}

            {% for module in php.modules.pecl %}
                {% if module not in flattened %}
                    <option value="{{ module }}" selected>{{ module }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <h2>Libraries</h2>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#" role="tab" data-toggle="tab">Xdebug</a></li>
        <li role="presentation"><a href="#" role="tab" data-toggle="tab">Xhprof</a></li>
        <li role="presentation"><a href="#" role="tab" data-toggle="tab">WP-Cli</a></li>
        <li role="presentation"><a href="#" role="tab" data-toggle="tab">Drush</a></li>
    </ul>

    <div class="tab-content">
        {{ extra }}
    </div>

    <div class="clearfix"></div>
</div>
