{% set uniqid = uniqid('vflmnfp_', true) %}

<div id="{{ uniqid }}" class="nested-block">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Forwarded Ports</legend>

        <div class="form-group col-xs-6">
            <div class="help-text">
                Port on Host to forward to VM.
                <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html"
                   target="_blank">More information</a>.
            </div>
            <label for="vagrantfile-vm-provider-local-machines-{{ mId }}-network-forwarded_port-{{ uniqid }}-host">Host Port</label>
            <input type="number" id="vagrantfile-vm-provider-local-machines-{{ mId }}-network-forwarded_port-{{ uniqid }}-host"
                   name="vagrantfile[vm][provider][local][machines][{{ mId }}][network][forwarded_port][{{ uniqid }}][host]"
                   placeholder="8080" class="form-control"
                   value="{{ forwarded_port.host ? forwarded_port.host : mt_rand(5000, 9999) }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                <p>Port on VM to accept from Host.
                    <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html"
                       target="_blank">More information</a>.</p>
                <p>This port is automatically added to <code>iptables</code></p>
            </div>
            <label for="vagrantfile-vm-provider-local-machines-{{ mId }}-network-forwarded_port-{{ uniqid }}-guest">VM Port</label>
            <input type="number" id="vagrantfile-vm-provider-local-machines-{{ mId }}-network-forwarded_port-{{ uniqid }}-guest"
                   name="vagrantfile[vm][provider][local][machines][{{ mId }}][network][forwarded_port][{{ uniqid }}][guest]"
                   placeholder="80" class="form-control"
                   value="{{ forwarded_port.guest ? forwarded_port.guest : '22' }}" />
        </div>

        <div class="clearfix"></div>
    </fieldset>
</div>
