{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('av_', true) %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">Apache Virtual Host</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-servername">
                    Server Name
                    {{ popover.small('Don\'t forget to <a href="/help#update-my-hosts-file">update your computer\'s hosts file!</a>') }}
                </label>
                <input type="text" id="apache-vhosts-{{ uniqid }}-servername"
                       name="apache[vhosts][{{ uniqid }}][servername]"
                       required placeholder="awesome.dev"
                       value="{{ vhost.servername }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-serveraliases">
                    Server Aliases
                    {{ popover.small('Separated by comma') }}
                </label>
                <select id="apache-vhosts-{{ uniqid }}-serveraliases"
                        name="apache[vhosts][{{ uniqid }}][serveraliases][]"
                        multiple class="form-control select-tags-editable">
                    {% if vhost.serveraliases is defined %}
                        {% for alias in vhost.serveraliases %}
                            <option selected value="{{ alias }}">{{ alias }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-docroot">
                    Document Root
                    {{ popover.small('Location of your site\'s index.php file, or other landing page.') }}
                </label>
                <input type="text" id="apache-vhosts-{{ uniqid }}-docroot"
                       name="apache[vhosts][{{ uniqid }}][docroot]"
                       required placeholder="/var/www"
                       value="{{ vhost.docroot }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-port">
                    Port
                    {{ popover.small('80 for normal browsing, if you choose another append it to the URL,
                        ex: http://awesome.dev:1337') }}
                </label>
                <input type="number" id="apache-vhosts-{{ uniqid }}-port"
                       name="apache[vhosts][{{ uniqid }}][port]"
                       required placeholder="80"
                       value="{{ vhost.port }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-setenv">
                    Environment Variables
                    {{ popover.small('"name value", separated by comma') }}
                </label>
                <select id="apache-vhosts-{{ uniqid }}-setenv"
                        name="apache[vhosts][{{ uniqid }}][setenv][]"
                        multiple class="form-control select-tags-editable">
                    {% if vhost.setenv is defined %}
                        {% for setenv in vhost.setenv %}
                            <option selected value="{{ setenv }}">{{ setenv }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-override">
                    AllowOverride
                    {{ popover.small('Separated by comma, "All" is probably fine.
                        <a href="http://httpd.apache.org/docs/2.2/mod/core.html#allowoverride"
                            target="_blank">Click here for more hardcore information.</a>') }}
                </label>
                <select id="apache-vhosts-{{ uniqid }}-override"
                        name="apache[vhosts][{{ uniqid }}][override][]"
                        multiple class="form-control select-tags-editable">
                    {% for override in vhost.override %}
                        <option selected value="{{ override }}">{{ override }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label for="apache-vhosts-{{ uniqid }}-options">Directory Options</label>
                <select id="apache-vhosts-{{ uniqid }}-options" name="apache[vhosts][{{ uniqid }}][options][]"
                        multiple class="form-control select-tags-editable">
                    {% for options in vhost.options %}
                        <option selected value="{{ options }}">{{ options }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="apache-vhosts-{{ uniqid }}-custom_fragment">
                    Custom Directives
                    {{ popover.small('Advanced usage!') }}
                </label>
                <textarea id="apache-vhosts-{{ uniqid }}-custom_fragment"
                       name="apache[vhosts][{{ uniqid }}][custom_fragment]"
                       class="form-control">{% if vhost.custom_fragment is defined %}{{ vhost.custom_fragment }}{% endif %}</textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label class="checkbox-inline">
                    <input type="checkbox" class="install-checkbox"
                           id="apache-vhosts-{{ uniqid }}-ssl"
                           name="apache[vhosts][{{ uniqid }}][ssl]" value="1"
                           data-hide-on-uncheck="#apache-vhosts-{{ uniqid }}-ssl_options"
                           {% if vhost.ssl is defined and vhost.ssl %}checked{% endif %} />
                    Enable SSL
                </label>
            </div>
        </div>

        <div class="{% if vhost.ssl is not defined or not vhost.ssl %}hidden{% endif %}" id="apache-vhosts-{{ uniqid }}-ssl_options">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="apache-vhosts-{{ uniqid }}-ssl_cert">
                        SSL Certificate File Path
                        {{ popover.small('Absolute path to SSL Certificate File. Usually ends in .crt.
                            Leave blank to use a generic one.
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://httpd.apache.org/docs/2.2/mod/mod_ssl.html#sslcertificatefile" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ uniqid }}-ssl_cert"
                           name="apache[vhosts][{{ uniqid }}][ssl_cert]"
                           placeholder="" value="{% if vhost.ssl_cert is defined %}{{ vhost.ssl_cert }}{% endif %}" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="apache-vhosts-{{ uniqid }}-ssl_key">
                        SSL Certificate Key File Path
                        {{ popover.small('Absolute path to SSL Certificate Key File. Usually ends in .key.
                            Leave blank to use a generic one
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://httpd.apache.org/docs/2.2/mod/mod_ssl.html#sslcertificatekeyfile" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ uniqid }}-ssl_key"
                           name="apache[vhosts][{{ uniqid }}][ssl_key]"
                           placeholder="" value="{% if vhost.ssl_key is defined %}{{ vhost.ssl_key }}{% endif %}" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="apache-vhosts-{{ uniqid }}-ssl_chain">
                        SSL Certificate Chain File Path
                        {{ popover.small('Absolute path to SSL Certificate Chain File Path.
                            Usually ends in .crt and may have the name of your SSL provider.
                            Leave blank to use a generic one
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://httpd.apache.org/docs/2.2/mod/mod_ssl.html#sslcertificatechainfile" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ uniqid }}-ssl_chain"
                           name="apache[vhosts][{{ uniqid }}][ssl_chain]"
                           placeholder="" value="{% if vhost.ssl_chain is defined %}{{ vhost.ssl_chain }}{% endif %}" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="apache-vhosts-{{ uniqid }}-ssl_certs_dir">
                        SSL CL Certificate Path
                        {{ popover.small('Absolute path to SSL CL Certificate Path.
                            Leave blank to use a generic one
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://httpd.apache.org/docs/2.2/mod/mod_ssl.html#sslcacertificatepath" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ uniqid }}-ssl_certs_dir"
                           name="apache[vhosts][{{ uniqid }}][ssl_certs_dir]"
                           placeholder="" value="{% if vhost.ssl_certs_dir is defined %}{{ vhost.ssl_certs_dir }}{% endif %}" class="form-control" />
                </div>
            </div>

            <p class="help-block">
                To redirect all non-SSL traffic to SSL, create two vhosts - one on port 80 and one on port 443.<br /><br />
                Add <code>Redirect permanent / https://{YOUR_VHOST_NAME}/</code> to the non-SSL vhost's
                Custom Directives to redirect all traffic to the SSL vhost.
            </p>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <p class="text-center">
                    <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                            data-parent-id="{{ uniqid }}">Remove this vhost</button>
                </p>
            </div>
        </div>

    </div>
</div>
