{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('mysqlnd_', true) %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">MySQL Create Database</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-6">
                <label for="mysql-databases-{{ uniqid }}-name">DB Name</label>
                <input type="text" id="mysql-databases-{{ uniqid }}-name"
                       name="mysql[databases][{{ uniqid }}][name]" placeholder="database_name"
                       value="{{ database.name }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="mysql-databases-{{ uniqid }}-sql">
                    Import Database From File
                    {{ popover.small('Optional. Make sure this file is inside the VM,
                        or is inside a <a href="#deploy-target">shared folder defined here</a>
                        before running <code>$ vagrant up</code>') }}
                </label>
                <input type="text" id="mysql-databases-{{ uniqid }}-sql"
                       name="mysql[databases][{{ uniqid }}][sql]" placeholder="/path/to/sql/file"
                       value="{{ database.sql }}" class="form-control" />
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this database</button>
        </p>
    </div>
</div>
