{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('mysqlng_', true) %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">MySQL Add Additional Grant</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-6">
                <label for="mysql-grants-{{ uniqid }}-user">
                    User
                    {{ popover.small('User must be defined in section above!') }}
                </label>
                <input type="text" id="mysql-grants-{{ uniqid }}-user"
                       name="mysql[grants][{{ uniqid }}][user]" placeholder="user"
                       value="{{ grant.user }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="mysql-grants-{{ uniqid }}-table">
                    Database
                    {{ popover.small('Can be "<strong>*.*</strong>" for all databases/tables,
                        "<strong>{database}.*</strong>" for all tables in a specific
                        database, or "<strong>{database}.{table}</strong>" for a
                        specific table in a specific database.') }}
                </label>
                <input type="text" id="mysql-grants-{{ uniqid }}-table"
                       name="mysql[grants][{{ uniqid }}][table]"
                       placeholder="*.*"
                       value="{{ grant.table }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="mysql-grants-{{ uniqid }}-privileges">
                    Privileges
                    {{ popover.small('Choose "All" or a mix of the others') }}
                </label>

                <select id="mysql-grants-{{ uniqid }}-privileges"
                        name="mysql[grants][{{ uniqid }}][privileges][]" multiple size="6"
                        class="form-control select-tags">
                    {% set flattened = [] %}
                    {% for type, privileges in available_privileges %}
                        <optgroup label="{{ type }}">
                            {% for privilege in privileges %}
                                {% set flattened = flattened|merge([privilege]) %}
                                <option value="{{ privilege }}"
                                    {% if privilege in grant.privileges %}selected{% endif %}>{{ privilege }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}

                    {% for privilege in grant.privileges %}
                        {% if privilege not in flattened %}
                            <option value="{{ privilege }}" selected>{{ privilege }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this grant</button>
        </p>
    </div>
</div>
