{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('mysqlnu_', true) %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">MySQL Create User</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-6">
                <label for="mysql-users-{{ uniqid }}-name">
                    Username
                    {{ popover.small('Enter "<strong>{username}@{host}</strong>"
                        for a specific host. If no host is defined, ex:
                        "<strong>{username}</strong>", it will
                        automagically be converted to
                        "<strong>{username}@localhost</strong>"') }}
                </label>
                <input type="text" id="mysql-users-{{ uniqid }}-name"
                       name="mysql[users][{{ uniqid }}][name]" placeholder="name"
                       value="{{ user.name }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="mysql-users-{{ uniqid }}-password">Password</label>
                <input type="text" id="mysql-users-{{ uniqid }}-password"
                       name="mysql[users][{{ uniqid }}][password]" placeholder="123"
                       value="{{ user.password }}" class="form-control" />
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this user</button>
        </p>
    </div>
</div>
