{% set uniqid = uniqid ?? uniqid('database_') %}
{% set idBase = "mysql-databases-#{uniqid}" %}
{% set nameBase = "mysql[databases][#{uniqid}]" %}

<div id="{{ idBase }}" data-uniqid="{{ uniqid }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="{{ idBase }}-name">
            DB Name
        </label>
        <input type="text" id="{{ idBase }}-name"
               name="{{ nameBase }}[name]"
               placeholder="database_name" class="form-control"
               value="{{ database.name }}" />
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="{{ idBase }}-collate">
            DB Encoding
        </label>
        <input type="text" id="{{ idBase }}-collate"
               name="{{ nameBase }}[collate]"
               placeholder="utf8_general_ci" class="form-control"
               value="{{ database.collate }}" />
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="{{ idBase }}-sql">
            Import Database From File
        </label>
        <input type="text" id="{{ idBase }}-sql"
               name="{{ nameBase }}[sql]"
               placeholder="/path/to/your/db/file" class="form-control"
               value="{{ database.sql }}" />
        <div class="help-block">
            Optional. Make sure this file is inside the VM,
            or is inside a shared folder before running <code>$ vagrant up</code>
        </div>
    </div>
</div>
