{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('postsqlnd_', true) %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">PostgreSQL Create Database</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-6">
                <label for="postgresql-databases-{{ uniqid }}-dbname">DB Name</label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-dbname"
                       name="postgresql[databases][{{ uniqid }}][dbname]" placeholder="database_name"
                       value="{{ database.dbname }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="postgresql-databases-{{ uniqid }}-owner">
                    DB Owner
                    {{ popover.small('If blank, owner is root user') }}
                </label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-owner"
                       name="postgresql[databases][{{ uniqid }}][owner]" placeholder="database_owner"
                       value="{{ database.dbname }}" class="form-control" />
            </div>
        </div>

        <p class="help-block">
            If you would like to import a database dump, create an
            <code>exec-once</code> script.
        </p>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this database</button>
        </p>
    </div>
</div>
