{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('postsqlnu_', true) %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">PostgreSQL Create User</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-6">
                <label for="postgresql-users-{{ uniqid }}-username">Username</label>
                <input type="text" id="postgresql-users-{{ uniqid }}-username"
                       name="postgresql[users][{{ uniqid }}][username]" placeholder="username"
                       value="{{ user.username }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="postgresql-users-{{ uniqid }}-password">Password</label>
                <input type="text" id="postgresql-users-{{ uniqid }}-password"
                       name="postgresql[users][{{ uniqid }}][password]" placeholder="123"
                       value="{{ user.password }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label class="checkbox-inline">
                    <input type="checkbox"
                           id="postgresql-users-{{ uniqid }}-superuser"
                           {% if user.superuser is defined and user.superuser %}checked{% endif %} />
                    Make superuser
                </label>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this user</button>
        </p>
    </div>
</div>
