{% set foldertype = edition.get('[provider][local][foldertype]')|default('default') %}
<input type="hidden" id="provider-type" name="provider[type]" value="local" />
<input type="hidden" id="provider-os" name="provider[os]" value="{{ default_os }}" />
<input type="hidden" id="provider-local-name" name="provider[local][name]" value="{{ default_box }}"/>

<div class="bs-example box">
    <div class="row">
        <div class="col col-lg-12">
            <p class="help-block">
                Choose the operating system you wish to run. The defaults will be downloaded on your first
                run from the official vagrantup.com website.
                <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html">More information may be found
                    here.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 box-select">
            <select name="provider[local][url]">
                {% for shortname,box in edition.get('[vagrant][boxes]') %}
                    <option class="provider-local-url" rel="{{ box.os }}|{{ shortname }}" value="{{ box.url }}"
                            {% if default_box == shortname %}selected="selected"{% endif %}>{{ box.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <label>Shared Folder Type</label>

            <div>
                <label class="radio-inline">
                    <input type="radio" name="provider[local][foldertype]"
                           value="default"{% if foldertype == 'default' %} checked{% endif %}/> Default
                </label>
                <label class="radio-inline">
                    <input type="radio" name="provider[local][foldertype]"
                           value="nfs"{% if foldertype == 'nfs' %} checked{% endif %}/> NFS
                </label>

                <p class="help-block">Windows users should choose the Default option</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-local-synced_folder-source">Box Sync Folder Source</label>
            <input id="provider-local-synced_folder-source" name="provider[local][synced_folder][source]" type="text"
                   required placeholder="/path/to/your/web/files" value="./"/>

            <p class="help-block">Path your files are stored on host machine</p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-local-synced_folder-target">Box Sync Folder Target</label>
            <input id="provider-local-synced_folder-target" name="provider[local][synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www"/>

            <p class="help-block">Path the VM will see your files in</p>
        </div>

        <div class="col col-lg-10">
            <p class="help-block">
                <strong>
                    Running synced folders not with NFS has many disadvantages.
                    Therefore Windows users should not point their synced folder to /var/www
                    or to any other real project root directory!
                </strong>
            </p>
        </div>
    </div>

</div>
