<input type="hidden" name="rabbitmq[install]" value="0" />

<div class="section-header hidden">
    <h1>RabbitMQ</h1>
    <p class="lead">Install RabbitMQ and create users.</p>
</div>

<div class="form-group">
    <div class="clearfix"><label>Install</label></div>

    <label class="col-xs-12 radio-tile">
        <input type="checkbox" name="rabbitmq[install]" value="1"
               class="invisible toggle-on-select"
               {% if rabbitmq.install %}checked{% endif %}
               data-vis-toggle-target="#rabbitmq-container" />
        <span class="content">
            <span class="header large">
                <i class="icon"></i>
                <span class="title">Install RabbitMQ</span>
            </span>
            <span class="footer">
                Open source message broker software that implements AMQP.
            </span>
        </span>
    </label>

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="rabbitmq-container" class="{% if not rabbitmq.install %}hidden{% endif %}">
    <div class="form-group col-xs-6">
        <label for="rabbitmq-settings-port">Listen Port</label>
        <input type="number" id="rabbitmq-settings-port"
               name="rabbitmq[settings][port]"
               placeholder="5672" class="form-control"
               value="{{ rabbitmq.settings.port }}" />
    </div>

    <div class="form-group col-xs-6">
        <label for="rabbitmq-plugins">Plugins</label>
        <select id="rabbitmq-plugins"
               multiple name="rabbitmq[plugins][]"
               class="form-control select-tags-editable">
            {% if rabbitmq.plugins is defined %}
                {% for plugin in rabbitmq.plugins %}
                    <option selected value="{{ plugin }}">{{ plugin }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            Separated by comma.
        </div>
        <label for="rabbitmq-vhosts">Virtual Hosts</label>
        <select id="rabbitmq-vhosts"
               multiple name="rabbitmq[vhosts][]"
               class="form-control select-tags-editable">
            {% if rabbitmq.vhosts is defined %}
                {% for vhost in rabbitmq.vhosts %}
                    <option selected value="{{ vhost }}">{{ vhost }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="clearfix"></div>

    {% for user in rabbitmq.users %}
        {% include 'PuphpetMainBundle:rabbitmq/sections:user.html.twig' with {'user': user} %}
    {% endfor %}

    <a href="#" data-source-url="{{ path('puphpet.rabbitmq.user') }}"
       class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another user</a>
</div>
