{% set uniqid = uniqid('mysqlnd_', true) %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Create Database</legend>

        <div class="form-group col-xs-6">
            <label for="mysql-databases-{{ uniqid }}-name">DB Name</label>
            <input type="text" id="mysql-databases-{{ uniqid }}-name"
                   name="mysql[databases][{{ uniqid }}][name]"
                   placeholder="database_name" class="form-control"
                   value="{{ database.name }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                Optional. Make sure this file is inside the VM,
                or is inside a shared folder before running <code>$ vagrant up</code>
            </div>
            <label for="mysql-databases-{{ uniqid }}-sql">Import Database From File</label>
            <input type="text" id="mysql-databases-{{ uniqid }}-sql"
                   name="mysql[databases][{{ uniqid }}][sql]"
                   placeholder="123" class="form-control"
                   value="{{ database.sql }}" />
        </div>

        <div class="clearfix"></div>
    </fieldset>
</div>
