{% set uniqid = uniqid('mysqlng_', true) %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>
    <fieldset>
        <legend>Additional Grant</legend>

        <div class="form-group col-xs-6">
            <div class="help-text">
                User must be defined in section above!
            </div>
            <label for="mysql-grants-{{ uniqid }}-user">User</label>
            <input type="text" id="mysql-grants-{{ uniqid }}-user"
                   name="mysql[grants][{{ uniqid }}][user]"
                   placeholder="user" class="form-control"
                   value="{{ grant.user }}" />
        </div>

        <div class="form-group col-xs-6">
            <div class="help-text">
                Can be <code>*.*</code> for all databases/tables,
                <code>{database}.*</code> for all tables in a specific
                database, or <code>{database}.{table}</code> for a
                specific table in a specific database.
            </div>
            <label for="mysql-grants-{{ uniqid }}-table">Database</label>
            <input type="text" id="mysql-grants-{{ uniqid }}-table"
                   name="mysql[grants][{{ uniqid }}][table]"
                   placeholder="*.*" class="form-control"
                   value="{{ grant.table }}" />
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Choose "All" or a mix of the others.
            </div>
            <label for="mysql-grants-{{ uniqid }}-privileges">Privileges</label>
            <select id="mysql-grants-{{ uniqid }}-privileges"
                   multiple name="mysql[grants][{{ uniqid }}][privileges][]"
                   class="form-control select-tags-editable">
                {% set flattened = [] %}
                {% for type, privileges in available_privileges %}
                    <optgroup label="{{ type }}">
                        {% for privilege in privileges %}
                            {% set flattened = flattened|merge([privilege]) %}
                            <option value="{{ privilege }}"
                                {% if privilege in grant.privileges %}selected{% endif %}>{{ privilege }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}

                {% for privilege in grant.privileges %}
                    {% if privilege not in flattened %}
                        <option value="{{ privilege }}" selected>{{ privilege }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>
