{% set uniqid = uniqid ?? uniqid('vfgcem_', true) %}

<div id="gce-machine-{{ uniqid }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-id">
            Internal Identifier
        </label>
        <input type="text" id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-id"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][id]"
               placeholder="gce1" class="form-control"
               value="{{ machine.id }}" />
        <div class="help-block">
            This is the ID used within the <code>Vagrantfile</code>. It is only used
            for your internal identification.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-hostname">
            Hostname
        </label>
        <input type="text" id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-hostname"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][hostname]"
               placeholder="gce1" class="form-control"
               value="{{ machine.hostname }}" />
        <div class="help-block">
            The hostname the machine should have.
            <a href="http://stackoverflow.com/a/3523068/446766"
               target="_blank">This answer lists all valid characters.</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-name">
            Instance Name
        </label>
        <input type="text" id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-name"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][name]"
               placeholder="gce1-puphpet" class="form-control"
               value="{{ machine.name }}" />
        <div class="help-block">
            Name your Google Compute Engine instance as it will
            appear in the Developer Console.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-zone">
            Instance Zone
        </label>
        <select id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-zone"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][zone]"
               class="form-control select-tag">
            {% for key, zone in zones %}
                <option value="{{ key }}"
                    {% if key == machine.zone %}selected{% endif %}>{{ zone }}</option>
            {% endfor %}
        </select>
        <div class="help-block">
            Choose the one closest to you, or your target audience!
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-machine_type">
            Instance Size
        </label>
        <select id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-machine_type"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][machine_type]"
               class="form-control select-tag">
            {% for type, description in machine_types %}
                <option value="{{ type }}"
                        {% if type == machine.machine_type %}selected{% endif %}>{{ type }} ({{ description }})</option>
            {% endfor %}
        </select>
        <div class="help-block">
            <a href="https://cloud.google.com/compute/pricing#machinetype"
               target="_blank">Pricing information</a>.
            Google Compute Engine charges by the hour, but also shows
            what a full month would cost.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-tags">
            Server Tags
        </label>
        <select id="vagrantfile-vm-provider-gce-machines-{{ uniqid }}-tags"
               name="vagrantfile[vm][provider][gce][machines][{{ uniqid }}][tags][]"
               multiple class="form-control select-tags-editable">
            {% for tag in machine.tags %}
                <option selected value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <div class="help-block">
            Tags for this machine. Comma-separated.
        </div>
    </div>

    <div class="clearfix"></div>
</div>
