{% set uniqid = uniqid('mongodbnuad_', true) %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>

        <p class="help-text">
            If you want to assign a user to multiple databases, simply create more databases and type in
            the same username and password. Only the password for the first entry will be considered,
            <strong>but all fields must be completed</strong>!
        </p>

    <fieldset>
        <legend>Create User &amp; Database</legend>

        <div class="form-group col-xs-12">
            <label for="mongodb-databases-{{ uniqid }}-name">Database</label>
            <input type="text" id="mongodb-databases-{{ uniqid }}-name"
                   name="mongodb[databases][{{ uniqid }}][name]"
                   placeholder="database_name" class="form-control"
                   value="{{ database.name }}" />
        </div>

        <div class="form-group col-xs-12">
            <label for="mongodb-databases-{{ uniqid }}-user">Username</label>
            <input type="text" id="mongodb-databases-{{ uniqid }}-user"
                   name="mongodb[databases][{{ uniqid }}][user]"
                   placeholder="username" class="form-control"
                   value="{{ database.user }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                This cannot be blank!
            </div>
            <label for="mongodb-databases-{{ uniqid }}-password">Password</label>
            <input type="text" id="mongodb-databases-{{ uniqid }}-password"
                   name="mongodb[databases][{{ uniqid }}][password]"
                   placeholder="123" class="form-control"
                   value="{{ database.password }}" />
        </div>
    </fieldset>
</div>
