{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<section id="xdebug">
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline">
                    <input type="checkbox" name="xdebug[install]" class="multiselect-grouped-tab"
                           data-tab-target="xdebug-pill"
                           {% if xdebug.install %}checked{% endif %} value="1" />
                    Install XDebug
                    {{ popover.small('CLI debugging will be automatically available. Simply run
                        <code>$ xdebug foo.php</code>!
                        <a href="http://devincharge.com/debug-cli-remote-server/">Follow
                            instructions here to setup PHPStorm to listen for a CLI connection</a>.
                        Other IDEs should be similar.') }}
                </label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label for="xdebug-settings-displayer">Settings</label>
                <select id="xdebug-settings-displayer" multiple
                        class="form-control select-tags-user-input"
                        data-target-container="xdebug-settings"
                        data-target-name="xdebug[settings]"
                    >
                    {% for setting in xdebug.available_settings %}
                        <option value="{{ setting }}"
                            {% if setting in xdebug.settings|keys %}selected{% endif %}>{{ setting }}</option>
                    {% endfor %}
                </select>

                <div id="xdebug-settings" style="display: none;">
                    {% for name, value in xdebug.settings %}
                        <input type="hidden" name="xdebug[settings][{{ name }}]"
                               data-option-name="{{ name }}" value="{{ value }}" />
                    {% endfor %}
                </div>

                <p class="help-block">
                    Not using Xdebug? Still pounding out <code>var_dump()</code> and
                    <code>print_r()</code> and <code>echo</code>?<br />
                    <a href="https://jtreminio.com/2012/07/xdebug-and-you-why-you-should-be-using-a-real-debugger">Xdebug and You: Why You Should be Using a Real Debugger</a>
                </p>
            </div>
        </div>
    </div>
</section>
