{% set uniqid = uniqid ?? uniqid('rule_') %}

<div id="firewall-rule-{{ uniqid }}" data-uniqid="{{ uniqid }}"
     class="tab-pane {{ active is defined and active ? 'active' }}">
    <div class="form-group col-xs-12 col-sm-6">
        <label for="firewall-rules-{{ uniqid }}-port">
            Port(s)
        </label>
        <select id="firewall-rules-{{ uniqid }}-port"
               name="firewall[rules][{{ uniqid }}][port][]"
               multiple class="form-control select-tags-editable">
            {% if rule.port is defined and rule.port is iterable %}
                {% for port in rule.port %}
                    <option selected value="{{ port }}">{{ port }}</option>
                {% endfor %}
            {% elseif rule.port is defined %}
                <option selected value="{{ rule.port }}">{{ rule.port }}</option>
            {% endif %}
        </select>
        <div class="help-block">
            Port to affect, can be multiple.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="firewall-rules-{{ uniqid }}-priority">
            Priority
        </label>
        <input type="text" id="firewall-rules-{{ uniqid }}-priority"
               name="firewall[rules][{{ uniqid }}][priority]"
               placeholder="100" class="form-control"
               value="{{ rule.priority ? rule.priority : '100' }}" />
        <div class="help-block">
            <p>Lower priority takes effect first.</p>

            <p><strong>Format must be 3 digits: 000, 111, 011, 999</strong></p>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <div class="clearfix"><label>Protocol</label></div>

        <div class="radio">
            <input type="radio" id="firewall-rules-{{ uniqid }}-proto-tcp"
                   name="firewall[rules][{{ uniqid }}][proto]"
                   value="tcp"
                   {% if rule.proto == 'tcp' or not rule.proto %}checked{% endif %} />
            <label for="firewall-rules-{{ uniqid }}-proto-tcp">
                TCP
            </label>
        </div>

        <div class="radio">
            <input type="radio" id="firewall-rules-{{ uniqid }}-proto-udp"
                   name="firewall[rules][{{ uniqid }}][proto]"
                   value="udp"
                   {% if rule.proto == 'udp' or not rule.proto %}checked{% endif %} />
            <label for="firewall-rules-{{ uniqid }}-proto-udp">
                UDP
            </label>
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <div class="clearfix"><label>Action</label></div>

        <div class="radio">
            <input type="radio" id="firewall-rules-{{ uniqid }}-action-accept"
                   name="firewall[rules][{{ uniqid }}][action]"
                   value="accept"
                   {% if rule.action == 'accept' or not rule.action %}checked{% endif %} />
            <label for="firewall-rules-{{ uniqid }}-action-accept">
                accept
            </label>
        </div>

        <div class="radio">
            <input type="radio" id="firewall-rules-{{ uniqid }}-action-drop"
                   name="firewall[rules][{{ uniqid }}][action]"
                   value="drop"
                   {% if rule.action == 'drop' or not rule.action %}checked{% endif %} />
            <label for="firewall-rules-{{ uniqid }}-action-drop">
                drop
            </label>
        </div>
    </div>
</div>
