{% macro single(extensionManager, name) %}
    {% set extension = extensionManager.getExtensionBySlug(name) %}

    {{ extension.renderFront(extension.data)|raw }}
{% endmacro %}

{% macro grouped(extensionManager, name, title) %}
    {% if title %}
        <div class="page-header">
            <h1 id="{{ name }}">{{ title }}</h1>
        </div>
    {% endif %}

    {% for extension in extensionManager.getExtensionsInGroup(name) %}
        {{ extension.renderFront(extension.data)|raw }}
    {% endfor %}
{% endmacro %}

{% macro singleSelectGrouped(extensionManager, name, title) %}
    {% set activeExtensionSlug = extensionManager.extensionInGroupHasCustomData(name) %}

    <div class="page-header">
        <h1 id="{{ name }}">{{ title }}</h1>
    </div>

     <ul class="nav group-nav nav-pills group-tabs" id="deploy-target-tab">
        {% for extension in extensionManager.getExtensionsInGroup(name) %}
            <li class="{% if extension.slug == activeExtensionSlug %}active{% endif %}">
                <a href="#{{ extension.slug }}-tab"
                   id="{{ extension.slug }}-pill"
                   data-target-element="{{ extension.slug }}"
                   data-toggle="tab">{{ extension.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for extension in extensionManager.getExtensionsInGroup(name) %}
            <div class="tab-pane {% if activeExtensionSlug == extension.slug %}active{% endif %}"
                 id="{{ extension.slug }}-tab">
                {{ extension.renderFront(extension.data)|raw }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{#
    This is used as a sub-group container that allows checking multiple boxes for multiple
    extensions, like PHP extensions xdebug/xhprof/drush/etc
#}
{% macro multiSelectGrouped(extensionManager, name, title) %}
    {% set activeExtensionSlug = extensionManager.extensionInGroupHasCustomData(name) %}

    <section id="{{ name }}">
        <div class="page-header">
            <h2>{{ title }}</h2>
        </div>

         <ul class="nav group-nav nav-pills group-tabs multi-select">
            {% for extension in extensionManager.getExtensionsInGroup(name) %}
                <li class="{% if loop.first %}active{% endif %}">
                    {% if extension.data.install is defined and extension.data.install %}
                        {% set installed = true %}
                    {% else %}
                        {% set installed = false %}
                    {% endif %}
                    <a href="#{{ extension.slug }}-tab"
                       id="{{ extension.slug }}-pill" class="{% if installed %}text-success{% endif %}"
                       data-target-element="{{ extension.slug }}"
                       data-toggle="tab">
                        <span class="glyphicon
                            {% if installed %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span>
                        {{ extension.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for extension in extensionManager.getExtensionsInGroup(name) %}
                <div class="tab-pane {% if activeExtensionSlug == extension.slug %}active{% endif %}"
                     id="{{ extension.slug }}-tab">
                    {{ extension.renderFront(extension.data)|raw }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endmacro %}

{% macro multiSelectGroupedNoHeaders(extensionManager, name, title) %}
    {% set activeExtensionSlug = extensionManager.extensionInGroupHasCustomData(name) %}

    <section class="nested-extensions" id="{{ name }}">
         <ul class="nav group-nav nav-pills group-tabs multi-select">
            {% for extension in extensionManager.getExtensionsInGroup(name) %}
                <li class="{% if loop.first %}active{% endif %}">
                    {% if extension.data.install is defined and extension.data.install %}
                        {% set installed = true %}
                    {% else %}
                        {% set installed = false %}
                    {% endif %}
                    <a href="#{{ extension.slug }}-tab"
                       id="{{ extension.slug }}-pill" class="{% if installed %}text-success{% endif %}"
                       data-target-element="{{ extension.slug }}"
                       data-toggle="tab">
                        <span class="glyphicon
                            {% if installed %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span>
                        {{ extension.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for extension in extensionManager.getExtensionsInGroup(name) %}
                <div class="tab-pane {% if activeExtensionSlug == extension.slug %}active{% endif %}"
                     id="{{ extension.slug }}-tab">
                    {{ extension.renderFront(extension.data)|raw }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endmacro %}
