<section id="vagrantfile-local">

    <input type="hidden" id="vagrantfile-local-vm-box" name="vagrantfile-local[vm][box]" value="{{ data.vm.box }}" />

    <!-- vagrantfile-local / instructions -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Local VM Instructions</h3>
                </div>

                <div class="panel-body">
                    <div>
                        <h3>Pre-requisites</h3>

                        <ol>
                            <li><a href="https://www.virtualbox.org/wiki/Downloads" target="_blank">Download the latest version of VirtualBox from here</a></li>
                            <li><a href="http://downloads.vagrantup.com/" target="_blank">Download the latest version of Vagrant from here.</a></li>
                        </ol>

                        <p>Run the following command(s) from your host's terminal (not within the VM):</p>

                        <p>
                            <code class="col-xs-11">
                                $ vagrant plugin install vagrant-vbguest
                            </code>
                            <br /><br />
                        </p>

                        <p><code>vagrant-vbguest</code> is needed to keep the VirtualBox guest additions up to date.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end vagrantfile-local / instructions -->

    <!-- vagrantfile-local / Operating System -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Local VM Details</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Local VM Operating System</label>

                            {% for box in data.available_boxes %}
                                <label class="radio">
                                    <input type="radio" class="update-other-input" name="vagrantfile-local[vm][box_url]"
                                           value="{{ box.url }}" {% if box.url == data.vm.box_url %}checked{% endif %}
                                           data-update-vagrantfile-local-vm-box="{{ box.short_name }}"
                                           {% if box.php_versions is defined %}data-update-php[version]="{{ box.php_versions|first|str_replace('.', '') }}"{% endif %} />
                                    {{ box.long_name }}
                                    {% if box.php_versions is defined %}
                                        (PHP
                                        {% for php in box.php_versions %}
                                            <span class="label php-version-{{ php|replace('.', '-') }}">{{ php }}</span>
                                        {% endfor %}
                                        )
                                    {% endif %}

                                </label>
                            {% endfor %}

                            <p class="help-block">
                                Choose the operating system for your VM. It will be downloaded the first time you
                                run Vagrant. <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html">More
                                    information may be found here</a>.
                            </p>

                            <p class="help-block">
                                Note: Listed are the PHP installs that we have confirmed as working for their respective
                                operating system. You are welcome to attempt to install higher if you'd like, but
                                we cannot guarantee it will work. In fact in most cases it won't.
                            </p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="vagrantfile-local-vm-provider-virtualbox-modifyvm-name">Name Your Local VM</label>
                            <input type="text" id="vagrantfile-local-vm-provider-virtualbox-modifyvm-name"
                                   name="vagrantfile-local[vm][provider][virtualbox][modifyvm][name]"
                                   required placeholder="my-vm-box"
                                   value="{{ data.vm.provider.virtualbox.modifyvm.name }}" class="form-control" />

                            <p class="help-block">
                                Your personal name for the box. Should be unique to your system.
                                If you have multiple boxes running, name each one differently.
                            </p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="vagrantfile-local-vm-network-private_network">Local VM IP Address</label>
                            <input type="text" id="vagrantfile-local-vm-network-private_network"
                                   name="vagrantfile-local[vm][network][private_network]"
                                   required placeholder="192.168.56.101"
                                   pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
                                   oninvalid="setCustomValidity('IP address format: 192.168.56.101')"
                                   value="{{ data.vm.network.private_network }}" class="form-control" />

                            <p class="help-block">
                                IP address to use for accessing the VM. This is the IP address you will need to enter
                                into your <code>hosts</code> file for every virtual hosts you create later on.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label for="vagrantfile-local-vm-provider-virtualbox-modifyvm-memory">Local VM Memory</label>
                            <input type="number" id="vagrantfile-local-vm-provider-virtualbox-modifyvm-memory"
                                   name="vagrantfile-local[vm][provider][virtualbox][modifyvm][memory]"
                                   required placeholder="512" pattern="^[1-9][0-9]*$" min="64"
                                   value="{{ data.vm.provider.virtualbox.modifyvm.memory }}" class="form-control" />

                            <p class="help-block">Memory to assign to VM in megabytes (only integers)</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end vagrantfile-local / Operating System -->

    {% for forwarded_port in data.vm.network.forwarded_port %}
        {% include 'PuphpetExtensionVagrantfileLocalBundle:form/sections:ForwardedPort.html.twig' with {'forwarded_port': forwarded_port} %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                    data-source-url="{{ path('puphpet.extension.vagrantfile.local.forwarded_port') }}">Add another local VM port pair</button>
        </div>
    </div>

    {% for synced_folder in data.vm.synced_folder %}
        {% include 'PuphpetExtensionVagrantfileLocalBundle:form/sections:SyncedFolder.html.twig' with {'synced_folder': synced_folder} %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                    data-source-url="{{ path('puphpet.extension.vagrantfile.local.synced_folder') }}">Add another local VM shared folder</button>
        </div>
    </div>

</section>
