<fieldset>
    <legend>Blackfire Options</legend>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-server_id">
            Server ID
        </label>
        <input type="text" id="blackfire-settings-server_id"
               name="blackfire[settings][server_id]"
               placeholder="" class="form-control"
               value="{{ blackfire.settings.server_id }}" />
        <div class="help-block">
            <a href="https://blackfire.io/account/credentials"
               target="_blank">Your credentials are available here</a>.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-server_token">
            Server Token
        </label>
        <input type="text" id="blackfire-settings-server_token"
               name="blackfire[settings][server_token]"
               placeholder="" class="form-control"
               value="{{ blackfire.settings.server_token }}" />
        <div class="help-block">
            <a href="https://blackfire.io/account/credentials"
               target="_blank">Your credentials are available here</a>.
        </div>
    </div>

    <div class="clearfix"></div>
</fieldset>

<div class="clearfix"></div>

<fieldset>
    <legend>Agent Options</legend>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-agent-http_proxy">
            HTTP Proxy
        </label>
        <input type="text" id="blackfire-settings-agent-http_proxy"
               name="blackfire[settings][agent][http_proxy]"
               placeholder="" class="form-control"
               value="{{ blackfire.settings.agent.http_proxy }}" />
        <div class="help-block">
            Optional.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-agent-https_proxy">
            HTTPS Proxy
        </label>
        <input type="text" id="blackfire-settings-agent-https_proxy"
               name="blackfire[settings][agent][https_proxy]"
               placeholder="" class="form-control"
               value="{{ blackfire.settings.agent.https_proxy }}" />
        <div class="help-block">
            Optional.
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-agent-log_file">
            Log File
        </label>
        <input type="text" id="blackfire-settings-agent-log_file"
               name="blackfire[settings][agent][log_file]"
               placeholder="stderr" class="form-control"
               value="{{ blackfire.settings.agent.log_file }}" />
        <div class="help-block">
            Write logs to here. Defaults to <code>stderr</code>.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-agent-log_level">
            Log Level
        </label>
        <select id="blackfire-settings-agent-log_level"
                name="blackfire[settings][agent][log_level]"
                class="form-control select-tag">
            {% for value, name in blackfire.available.log_levels %}
                <option value="{{ value }}"
                    {% if value == blackfire.settings.agent.log_level %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <div class="help-block">
            Log verbosity level.
        </div>
    </div>

    <div class="clearfix"></div>
</fieldset>

<div class="clearfix"></div>

<fieldset>
    <legend>Extension Options</legend>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-php-agent_timeout">
            Agent Timeout
        </label>
        <input type="text" id="blackfire-settings-php-agent_timeout"
               name="blackfire[settings][php][agent_timeout]"
               placeholder="0.25" class="form-control"
               value="{{ blackfire.settings.php.agent_timeout }}" />
        <div class="help-block">
            The agent timeout.
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-php-log_file">
            Log File
        </label>
        <input type="text" id="blackfire-settings-php-log_file"
               name="blackfire[settings][php][log_file]"
               placeholder="stderr" class="form-control"
               value="{{ blackfire.settings.php.log_file }}" />
        <div class="help-block">
            Write logs to here. Optional.
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-xs-12 col-sm-6">
        <label for="blackfire-settings-php-log_level">
            Log Level
        </label>
        <select id="blackfire-settings-php-log_level"
                name="blackfire[settings][php][log_level]"
                class="form-control select-tag">
            {% for value, name in blackfire.available.log_levels %}
                <option value="{{ value }}"
                    {% if value == blackfire.settings.php.log_level %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <div class="help-block">
            Log verbosity level.
        </div>
    </div>
</fieldset>
