{% set selectedVersion = (mysql.settings.version is defined and mysql.settings.version)
    ? mysql.settings.version
    : false %}
{% set versions = selectedVersion
    ? merge_unique([selectedVersion], mysql.available.versions)
    : mysql.available.versions %}

<input type="hidden" name="mysql[install]" value="0" />

<div class="field-container">
    <div class="form-group">
        <div class="help-text">
            MariaDB is a drop-in replacement for MySQL. It is highly recommended you use MariaDB instead.
        </div>
        <label class="col-xs-12 radio-tile">
            <input type="checkbox" name="mysql[install]" value="1"
                   class="invisible toggle-on-select update-other-input-on-check"
                   {% if mysql.install %}checked{% endif %}
                   data-vis-toggle-target="#mysql-container"
                   data-update-on-check-mariadb[install]="0" />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Install MySQL</span>
                </span>
                <span class="footer">
                    If you install MySQL, you cannot install MariaDB.
                </span>
            </span>
        </label>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="mysql-container" class="{% if not mysql.install %}hidden{% endif %}">
        <div class="form-group col-xs-12">
            <label for="mysql-settings-version">Version</label>
            <select id="mysql-settings-version"
                   name="mysql[settings][version]"
                   class="form-control select-tag">
                {% for version in versions %}
                    <option value="{{ version }}"
                        {% if version == selectedVersion %}selected{% endif %}>{{ version }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Assign a password to the root user.
                <strong>Database will only be installed
                when a password is entered here.</strong>
            </div>
            <label for="mysql-settings-root_password">Root Password</label>
            <input type="text" id="mysql-settings-root_password"
                   name="mysql[settings][root_password]"
                   placeholder="123" class="form-control"
                   value="{{ mysql.settings.root_password }}" />
        </div>

        <div class="help-block col-xs-12">
            <p>The preferred way to connect to your database is using a dedicated
                application like
                <a href="http://www.sequelpro.com/" target="_blank">Sequel Pro (OS X)</a>,
                <a href="http://www.heidisql.com/" target="_blank">HeidiSQL (Windows)</a>, and
                <a href="http://dev.mysql.com/downloads/tools/workbench/"
                   target="_blank">MySQL Workbench (Cross Platform)</a>.</p>
            <p>Connect using SSH tunnel, username <code>vagrant</code> and SSH key generated at
                <code>puphpet/files/dot/ssh/id_rsa</code>. This key is generated <strong>after</strong>
                your initial <code>$ vagrant up</code>!</p>
        </div>

        <div class="clearfix"></div>

        {% for user in mysql.users %}
            {% include 'PuphpetBundle:mysql:user.html.twig' with {'user': user} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.mysql.add_user') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another user</a>

        {% for database in mysql.databases %}
            {% include 'PuphpetBundle:mysql:database.html.twig' with {'database': database} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.mysql.add_database') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another database</a>

        {% for grant in mysql.grants %}
            {% include 'PuphpetBundle:mysql:grant.html.twig' with {
                'available_privileges': mysql.available.privileges, 'grant': grant} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.mysql.add_grant') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another grant</a>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#mariadb"><span aria-hidden="true">&larr;</span> MariaDB</a></li>
            <li class="next">
                <a href="#postgresql">PostgreSQL <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
