{% set providerChosen = (data.target == 'digitalocean') ? true : false %}

{% set machines = (data.vm.provider.digitalocean.machines is defined and data.vm.provider.digitalocean.machines)
    ? data.vm.provider.digitalocean.machines : [] %}
{% set syncedFolders = (data.vm.synced_folder is defined and data.vm.synced_folder)
    ? data.vm.synced_folder : [] %}

<div class="container-fluid cm-container-white section-title">
    <div class="checkbox checkbox-lg no-padding">
        <input type="radio" id="vagrantfile-vm-provider-digitalocean-install"
               name="vagrantfile[target]" value="digitalocean"
               {% if providerChosen %}checked{% endif %}
               data-toggle="radio-collapse" data-target="#vagrantfile-digitalocean-container"
               data-enforce-group-single="vagrantfile"
               data-enable-on-check data-disable-on-uncheck />
        <label for="vagrantfile-vm-provider-digitalocean-install">Deploy to Digital Ocean</label>

        <p>
            A new server will be spun up at Digital Ocean.
            <a href="#" data-toggle="modal"
               data-target="#vagrantfile-digitalocean-modal">Click here for instructions</a>.
        </p>
    </div>
</div>

<div id="vagrantfile-digitalocean-container"
     class="container-fluid collapse {% if providerChosen %}in{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-xs-12">
                <div class="clearfix"><label>Distro</label></div>

                {% for image in data.available.images %}
                    <div class="radio">
                        <input type="radio" id="vagrantfile-vm-provider-digitalocean-image-{{ image.image }}"
                               name="vagrantfile[vm][provider][digitalocean][image]"
                               value="{{ image.image }}"
                               {% if image.image == data.vm.provider.digitalocean.image %}checked{% endif %} />
                        <label for="vagrantfile-vm-provider-digitalocean-image-{{ image.image }}">
                            {{ image.long_name }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <div class="clearfix"></div>

            <div class="form-group col-xs-12 col-sm-6">
                <label for="vagrantfile-vm-provider-digitalocean-token">
                    Digital Ocean Token
                </label>
                <input type="text" id="vagrantfile-vm-provider-digitalocean-token"
                       name="vagrantfile[vm][provider][digitalocean][token]"
                       placeholder="DIGITAL OCEAN TOKEN" class="form-control"
                       value="{{ data.vm.provider.digitalocean.token }}" />
                <div class="help-block">
                    <a href="https://cloud.digitalocean.com/settings/applications"
                       target="_blank">Get it here</a>.
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label for="vagrantfile-vm-provider-digitalocean-ssh_key_name">
                    SSH Key Name
                </label>
                <input type="text" id="vagrantfile-vm-provider-digitalocean-ssh_key_name"
                       name="vagrantfile[vm][provider][digitalocean][ssh_key_name]"
                       placeholder="Vagrant" class="form-control"
                       value="{{ data.vm.provider.digitalocean.ssh_key_name }}" />
                <div class="help-block">
                    Change if you already have an SSH key you would like to use.
                    Leave as default otherwise.
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group col-xs-12 col-sm-6">
                <label for="vagrantfile-ssh-private_key_path">
                    Local Private Key Path
                </label>
                <input type="text" id="vagrantfile-ssh-private_key_path"
                       name="vagrantfile[ssh][private_key_path]"
                       placeholder="~/.ssh/id_rsa" class="form-control"
                       value="{{ data.ssh.private_key_path }}" />
                <div class="help-block">
                    <p>The Digital Ocean server will not be accessible without your
                        <span class="label label-info" data-toggle="help-text">
                            <i class="fa fa-ellipsis-h"></i></span>
                        <span class="hidden">private/public key.</span>
                    </p>
                    <div class="hidden">
                        <p><strong>It will not be accessible using username/password,
                                only private key!</strong></p>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label for="vagrantfile-ssh-username">
                    Local Private Key Username
                </label>
                <input type="text" id="vagrantfile-ssh-username"
                       name="vagrantfile[ssh][username]"
                       placeholder="~/.ssh/id_rsa" class="form-control"
                       value="{{ data.ssh.username }}" />
                <div class="help-block">
                    The username associated with the private key entered.
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">Machines</div>
        <div class="panel-body">
            <ul class="nav nav-tabs nested-tabs">
                <li class="add">
                    <a href="{{ path('puphpet.vagrantfile_digitalocean.machine') }}"
                       data-toggle="add-block">
                        <i class="fa fa-plus"></i> Add</a>
                </li>
                {% for index, machine in machines %}
                    <li class="{{ loop.first ? 'active' }}">
                        <a href="#" data-target="#vagrantfile-vm-provider-digitalocean-machines-{{ index }}"
                           data-toggle="tab">{{ index }}</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"
                                    data-toggle="delete-block"
                                    data-target="#vagrantfile-vm-provider-digitalocean-machines-{{ index }}">
                                <i class="fa fa-close"></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                <div class="empty-tabs">
                    <i class="fa fa-share fa-rotate-270" aria-hidden="true"></i>
                    Click to add a Digital Ocean machine
                </div>
                {% for index, machine in machines %}
                    {% include 'PuphpetBundle:vagrantfile-digitalocean:machine.html.twig' with {
                        'machine': machine,
                        'regions': data.available.regions,
                        'sizes': data.available.sizes,
                        'uniqid': index,
                        'active': loop.first ? true : false,
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">Shared Folders</div>
        <div class="panel-body">
            <ul class="nav nav-tabs nested-tabs">
                <li class="add">
                    <a href="{{ path('puphpet.vagrantfile_digitalocean.synced_folder') }}"
                       data-toggle="add-block">
                        <i class="fa fa-plus"></i> Add</a>
                </li>
                {% for index, synced_folder in data.vm.synced_folder %}
                    <li class="{{ loop.first ? 'active' }}">
                        <a href="#" data-target="#vagrantfile-vm-provider-digitalocean-synced_folder-{{ index }}"
                           data-toggle="tab">{{ index }}</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"
                                    data-toggle="delete-block"
                                    data-target="#vagrantfile-vm-provider-digitalocean-synced_folder-{{ index }}">
                                <i class="fa fa-close"></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                <div class="empty-tabs">
                    <i class="fa fa-share fa-rotate-270" aria-hidden="true"></i>
                    Click to add a shared folder
                </div>
                {% for index, synced_folder in data.vm.synced_folder %}
                    {% include 'PuphpetBundle:vagrantfile-digitalocean:synced-folder.html.twig' with {
                        'synced_folder': synced_folder,
                        'uniqid': index,
                        'active': loop.first ? true : false,
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vagrantfile-digitalocean-modal" tabindex="-1" role="dialog"
     aria-labelledby="vagrantfile-digitalocean-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vagrantfile-digitalocean-modal-label">
                    Instructions for Digital Ocean Deployment
                </h4>
            </div>
            <div class="modal-body">
                <h3>Digital Ocean Droplet</h3>

                <p>
                    Don't have a Digital Ocean account?
                    <a href="https://www.digitalocean.com/?refcode=475274cc0939" target="_blank">Click here to create one</a>
                    (affiliate link - help support this free service)!
                </p>

                <p>
                    Login to Digital Ocean and
                    <a href="https://cloud.digitalocean.com/settings/applications" target="_blank">go to the API page</a>.
                    You will need a Client ID and API Key.
                </p>

                <h3>Installation Requirements</h3>

                <p>Run the following commands from your host's terminal (not within the VM):</p>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#digitalocean-instructions-mac" data-toggle="pill">Mac</a></li>
                    <li><a href="#digitalocean-instructions-windows" data-toggle="pill">Windows</a></li>
                    <li><a href="#digitalocean-instructions-linux" data-toggle="pill">Linux</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="digitalocean-instructions-mac">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box
                        </code>
                    </div>
                    <div class="tab-pane" id="digitalocean-instructions-windows">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box
                        </code>

                        <div class="clearfix"></div>

                        <p>
                            You need rsync installed. Easiest way is to use Cygwin and install it through there.
                            Alternatively, you can
                            <a href="https://www.itefix.no/i2/content/cwrsync-free-edition" target="_blank">install rsync separately</a>
                            and add it to your PATH.
                        </p>
                    </div>
                    <div class="tab-pane" id="digitalocean-instructions-linux">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box
                        </code>
                    </div>
                </div>

                <h3>Accessing Your VM</h3>

                <p>
                    To access your VM after running <code>$ vagrant up</code>, type
                    <code>$ vagrant ssh-config</code> to get the IP address assigned to the server you created,
                    and add the IP address to your computer's hosts file. Type <code>$ vagrant ssh</code> to
                    be immediately connected via SSH to your new server!
                </p>

                <h3 class="text-warning">If you choose CentOS</h3>

                <p>
                    The CentOS images do not ship with <code>rsync</code> installed! The first time you run
                    <code>$ vagrant up</code> IT WILL ERROR, but this is OK! Simply <code>$ vagrant ssh</code>
                    and type <code>$ sudo yum install rsync</code>. Once it finished installing, run
                    <code>$ vagrant provision</code>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
