{% set selectedVersion = (postgresql.settings.global.version is defined
                          and postgresql.settings.global.version is not empty)
    ? postgresql.settings.global.version
    : false %}
{% set versions = selectedVersion
    ? merge_unique([selectedVersion], postgresql.available.versions)
    : postgresql.available.versions %}

<input type="hidden" name="postgresql[install]" value="0" />

<div class="field-container">
    <div class="form-group">
        <label class="col-xs-12 radio-tile">
            <input type="checkbox" name="postgresql[install]" value="1"
                   class="invisible toggle-on-select"
                   {% if postgresql.install %}checked{% endif %}
                   data-vis-toggle-target="#postgresql-container" />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Install PostgreSQL</span>
                </span>
                <span class="footer">
                    The world's most advanced open source database.
                </span>
            </span>
        </label>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="postgresql-container" class="{% if not postgresql.install %}hidden{% endif %}">
        <div class="form-group col-xs-12">
            <label for="postgresql-settings-global-version">Version</label>
            <select id="postgresql-settings-global-version"
                   name="postgresql[settings][global][version]"
                   class="form-control select-tag">
                {% for version in versions %}
                    <option value="{{ version }}"
                        {% if version == selectedVersion %}selected{% endif %}>{{ version }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Assign a password to the root user.
                <strong>Database will only be installed
                when a password is entered here.</strong>
            </div>
            <label for="postgresql-settings-server-postgres_password">Root Password</label>
            <input type="text" id="postgresql-settings-server-postgres_password"
                   name="postgresql[settings][server][postgres_password]"
                   placeholder="123" class="form-control"
                   value="{{ postgresql.settings.server.postgres_password }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="clearfix"><label>Adminer</label></div>

            <div class="checkbox">
                <span class="help-text">
                    It is highly recommended <strong>not</strong> installing Adminer
                    on production servers.
                    <br /><br />
                    If installed it will be available from
                    <code>http://{SERVER_IP_ADDRESS}/adminer</code>.
                </span>
                <input class="styled" type="checkbox"
                       {% if postgresql.adminer %}checked{% endif %} value="1"
                       id="postgresql-adminer"
                       name="postgresql[adminer]" />
                <label for="postgresql-adminer">
                    Install Adminer
                </label>
            </div>
        </div>

        <div class="help-block">
            <p>The preferred way to connect to your database is using a dedicated
                application like
                <a href="http://www.valentina-db.com/valentina-studio-overview"
                   target="_blank">Valentina Studio (OS X)</a> and
                <a href="http://www.pgadmin.org/" target="_blank">pgAdmin (Cross Platform)</a>.</p>
            <p>Connect using SSH tunnel, username <code>vagrant</code> and SSH key generated at
                <code>puphpet/files/dot/ssh/id_rsa</code>. This key is generated <strong>after</strong>
                your initial <code>$ vagrant up</code>!</p>
            <p>To login via CLI, you must use
                <code>$ psql {DBUSERNAME} -h 127.0.0.1 -d {DBNAME}</code></p>
        </div>

        <div class="clearfix"></div>

        {% for user in postgresql.users %}
            {% include 'PuphpetBundle:postgresql/sections:user.html.twig' with {'user': user} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.postgresql.add_user') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another user</a>

        {% for database in postgresql.databases %}
            {% include 'PuphpetBundle:postgresql/sections:database.html.twig' with {'database': database} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.postgresql.add_database') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another database</a>

        {% for grant in postgresql.grants %}
            {% include 'PuphpetBundle:postgresql/sections:grant.html.twig' with {'grant': grant} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.postgresql.add_grant') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another grant</a>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#mysql"><span aria-hidden="true">&larr;</span> MySQL</a></li>
            <li class="next">
                <a href="#mongodb">MongoDB <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
