{% set uniqid = uniqid('postsqlnu_', true) %}

{% set superUser = (user.superuser is defined and user.superuser) ? true : false %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>

    <fieldset>
        <legend>Create User</legend>

        <div class="form-group col-xs-12">
            <label for="postgresql-users-{{ uniqid }}-username">Username</label>
            <input type="text" id="postgresql-users-{{ uniqid }}-username"
                   name="postgresql[users][{{ uniqid }}][username]"
                   placeholder="username" class="form-control"
                   value="{{ user.username }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Password is required for each user.
            </div>
            <label for="postgresql-users-{{ uniqid }}-password">Password</label>
            <input type="text" id="postgresql-users-{{ uniqid }}-password"
                   name="postgresql[users][{{ uniqid }}][password]"
                   placeholder="123" class="form-control"
                   value="{{ user.password }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="clearfix"><label>Superuser</label></div>

            <div class="checkbox">
                <span class="help-text">
                    Grants this user superuser role.
                </span>
                <input class="styled" type="checkbox"
                       {% if superUser %}checked{% endif %} value="1"
                       id="postgresql-users-{{ uniqid }}-superuser"
                       name="postgresql[users][{{ uniqid }}][superuser]" />
                <label for="postgresql-users-{{ uniqid }}-superuser">
                    Make superuser
                </label>
            </div>
        </div>
    </fieldset>
</div>
