<section id="vagrantfile-digital_ocean">

    <input type="hidden" id="vagrantfile-digital_ocean-vm-box" name="vagrantfile-digital_ocean[vm][box]" value="digital_ocean" />

    <!-- vagrantfile-digital_ocean / instructions -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Digital Ocean Instructions</h3>
                </div>

                <div class="panel-body">
                    <div>
                        <h3>Digital Ocean Droplet</h3>

                        <p>
                            Don't have a Digital Ocean account?
                            <a href="https://www.digitalocean.com/?refcode=475274cc0939" target="_blank">Click here to create one</a>
                            (affiliate link - help support this free service)!
                        </p>

                        <p>
                            Login to Digital Ocean and
                            <a href="https://www.digitalocean.com/api_access" target="_blank">go to the API page</a>.
                            You will need a Client ID and API Key.
                        </p>
                    </div>

                    <div>
                        <h3>Installation Requirements</h3>

                        <p>Run the following commands from your host's terminal (not within the VM):</p>

                        <ul class="nav nav-pills">
                            <li class="active"><a href="#digital_ocean-instructions-mac" data-toggle="pill">Mac</a></li>
                            <li><a href="#digital_ocean-instructions-windows-linux" data-toggle="pill">Windows &amp; Linux</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="digital_ocean-instructions-mac">
                                <code class="col-xs-11">
                                    $ vagrant plugin install vagrant-digital_ocean<br />
                                    $ vagrant box add digitalocean https://puphpet.com/assets/box/digitalocean.box<br />
                                    $ brew install curl-ca-bundle<br />
                                    $ echo export SSL_CERT_FILE=/usr/local/opt/curl-ca-bundle/share/ca-bundle.crt >> ~/.bash_profile
                                </code>
                            </div>
                            <div class="tab-pane" id="digital_ocean-instructions-windows-linux">
                                <code class="col-xs-11">
                                    $ vagrant plugin install vagrant-digital_ocean<br />
                                    $ vagrant box add digitalocean https://puphpet.com/assets/box/digitalocean.box
                                </code>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h3>Running Vagrant</h3>

                        <p>
                            Instead of running <code>$ vagrant up</code>, you will need to run
                            <code>$ vagrant up --provider=digitalocean</code>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end vagrantfile-digital_ocean / instructions -->

    <!-- vagrantfile-digital_ocean / Operating System -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Digital Ocean VM Details</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Digital Ocean VM Operating System</label>

                            {% for image in data.available_images %}
                                <label class="radio">
                                    <input type="radio" name="vagrantfile-digital_ocean[vm][provider][digital_ocean][image]"
                                           value="{{ image.image }}"
                                           {% if image.image == data.vm.provider.digital_ocean.image %}checked{% endif %} />
                                    {{ image.long_name }}
                                    {% if image.php_versions is defined %}
                                        (PHP
                                        {% for php in image.php_versions %}
                                            <span class="label php-version-{{ php|replace('.', '-') }}">{{ php }}</span>
                                        {% endfor %}
                                        )
                                    {% endif %}
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="vagrantfile-digital_ocean-vm-provider-digital_ocean-size">Digital Ocean VM Size</label>
                            <select id="vagrantfile-digital_ocean-vm-provider-digital_ocean-size"
                                    name="vagrantfile-digital_ocean[vm][provider][digital_ocean][size]"
                                    class="form-control select-tag">
                                {% for size, name in data.available_sizes %}
                                    <option value="{{ size }}"
                                        {% if size == data.vm.provider.digital_ocean.size %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>

                            <p class="help-block">
                                <a href="https://www.digitalocean.com/pricing" target="_blank">Pricing information</a>.
                                Digital Ocean charges by the hour, but also shows what a full month would cost.
                            </p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="vagrantfile-digital_ocean-vm-provider-digital_ocean-region">Digital Ocean VM Region</label>
                            <select id="vagrantfile-digital_ocean-vm-provider-digital_ocean-region"
                                    name="vagrantfile-digital_ocean[vm][provider][digital_ocean][region]"
                                    class="form-control select-tag">
                                {% for region in data.available_regions %}
                                    <option value="{{ region }}"
                                        {% if region == data.vm.provider.digital_ocean.region %}selected{% endif %}>{{ region }}</option>
                                {% endfor %}
                            </select>

                            <p class="help-block">Choose the one closest to you, or your target audience!</p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="vagrantfile-digital_ocean-vm-provider-digital_ocean-client_id">Digital Ocean VM Client ID</label>
                            <input id="vagrantfile-digital_ocean-vm-provider-digital_ocean-client_id"
                                   name="vagrantfile-digital_ocean[vm][provider][digital_ocean][client_id]"
                                   placeholder="DIGITAL OCEAN CLIENT ID"
                                   value="{{ data.vm.provider.digital_ocean.client_id }}" class="form-control" />

                            <p class="help-block">
                                <a href="https://www.digitalocean.com/api_access" target="_blank">Get it here</a>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label for="vagrantfile-digital_ocean-vm-provider-digital_ocean-api_key">Digital Ocean VM API Key</label>
                            <input id="vagrantfile-digital_ocean-vm-provider-digital_ocean-api_key"
                                   name="vagrantfile-digital_ocean[vm][provider][digital_ocean][api_key]"
                                   placeholder="DIGITAL OCEAN API KEY"
                                   value="{{ data.vm.provider.digital_ocean.api_key }}" class="form-control" />

                            <p class="help-block">
                                <a href="https://www.digitalocean.com/api_access" target="_blank">Get it here</a>
                            </p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="vagrantfile-digital_ocean-ssh-username">Local Private Key Username</label>
                            <input id="vagrantfile-digital_ocean-ssh-username"
                                   name="vagrantfile-digital_ocean[ssh][username]"
                                   value="{{ data.ssh.username }}" class="form-control" />

                            <p class="help-block">The username associated with the private key entered.</p>
                        </div>

                        <div class="col-md-6">
                            <label for="vagrantfile-digital_ocean-ssh-private_key_path">Local Private Key Path</label>
                            <input id="vagrantfile-digital_ocean-ssh-private_key_path"
                                   name="vagrantfile-digital_ocean[ssh][private_key_path]"
                                   placeholder="~/.ssh/id_rsa"
                                   value="{{ data.ssh.private_key_path }}" class="form-control" />

                            <p class="help-block">
                                The Digital Ocean VM will not be accessible without your private/public key.
                                <strong>It will not be accessible using username/password, only private key!</strong>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end vagrantfile-digital_ocean / Operating System -->

    {% for synced_folder in data.vm.synced_folder %}
        {% include 'PuphpetExtensionVagrantfileDigitalOceanBundle:form/sections:SyncedFolder.html.twig' with {'synced_folder': synced_folder} %}
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                    data-source-url="{{ path('puphpet.extension.vagrantfile.digital_ocean.synced_folder') }}">Add another Digital Ocean VM shared folder</button>
        </div>
    </div>
</section>
