{% set uniqid = uniqid('rmqup_', true)|lower %}

<div class="nested-block" id="{{ uniqid }}">
    <a href="#" class="delete-block remove"
       data-block-id="{{ uniqid }}"><i class="fa fa-times"></i></a>

    <fieldset>
        <legend>User Permissions</legend>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Virtual host must be added in the section above!
            </div>
            <label for="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-host">Virtual Host Name</label>
            <input type="text" id="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-host"
                   name="rabbitmq[users][{{ userId }}][permissions][{{ uniqid }}][host]"
                   placeholder="myhost" class="form-control"
                   value="{{ permission.host }}" />
        </div>

        <div class="form-group col-xs-12">
            <label for="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-configure_permission">Configure Permission</label>
            <input type="text" id="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-configure_permission"
                   name="rabbitmq[users][{{ userId }}][permissions][{{ uniqid }}][configure_permission]"
                   placeholder=".*" class="form-control"
                   value="{{ permission.configure_permission }}" />
        </div>

        <div class="form-group col-xs-12">
            <label for="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-read_permission">Read Permission</label>
            <input type="text" id="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-read_permission"
                   name="rabbitmq[users][{{ userId }}][permissions][{{ uniqid }}][read_permission]"
                   placeholder=".*" class="form-control"
                   value="{{ permission.read_permission }}" />
        </div>

        <div class="form-group col-xs-12">
            <label for="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-write_permission">Write Permission</label>
            <input type="text" id="rabbitmq-users-{{ userId }}-permissions-{{ uniqid }}-write_permission"
                   name="rabbitmq[users][{{ userId }}][permissions][{{ uniqid }}][write_permission]"
                   placeholder=".*" class="form-control"
                   value="{{ permission.write_permission }}" />
        </div>
    </fieldset>
</div>
