{% extends 'PuphpetMainBundle:front:template.html.twig' %}

{% import "PuphpetMainBundle:front:sections.html.twig" as sections %}

{% block topJs %}
    {{ parent() }}
    <script>var uploadConfigUrl = '{{ path('puphpet.main.upload_config') }}';</script>
{% endblock %}

{% block main %}
<div id="drag-drop"><p><span class="glyphicon glyphicon-cloud-upload"></span><br />upload your config</p></div>

<div id="main">
    <div class="container">
        <div class="row">
            {% include 'PuphpetMainBundle:front:sideMenu.html.twig' %}

            <form role="form" action="{{ path('puphpet.main.homepage') }}" method="post">

                <div class="col-sm-9">
                    <div>

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>ATTN</strong>:
                            Puppet recently update to 3.4. More than likely <strong>ALL</strong> manifests generated
                            prior to Dec 20 are now *broken*. To fix, just drag/drop your <code>common.yaml</code>
                            file to this page and regenerate your manifest, or
                            <a href="https://github.com/puphpet/puphpet/commit/9824659ab3be1df088abf476c8444a3bfe9046bd">apply
                                these changes manually</a> in your <code>puppet/manifests/default.pp</code> file.
                        </div>

                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>ATTN</strong>:
                            If you previously created a PuPHPet box and now Vagrant is complaining about not being able
                            to download the box you chose, or that the box is corrupt, please update box URLs within
                            <code>Vagrantfile</code> and <code>common.yaml</code>! I received a scary bill from AWS S3
                            and had to find a new host. Thanks to my buddies at
                            <a href="http://pressable.com" target="_blank">Pressable</a> for
                            donating space and bandwidth! All box URLs have been changed from
                            <strong>https://puphpet.s3.amazonaws.com</strong>/* to
                            <strong>http://box.puphpet.com</strong>/*.
                        </div>

                        {% if hasCustom is defined %}
                            <div class="alert alert-success alert-dismissable">
                                Your previously generated config file was successfully loaded!
                            </div>
                        {% else %}
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Have an existing PuPHPet-generated manifest? Just drag your
                                <code>puppet/hieradata/common.yaml</code> file into your browser and the form will be filled
                                in with your previous values!
                            </div>
                        {% endif %}

                        <div id="extensions-container">

                            {{ sections.singleSelectGrouped(extensionManager, 'deploy-target', 'Deploy Target') }}

                            {{ sections.single(extensionManager, 'server') }}

                            {{ sections.singleSelectGrouped(extensionManager, 'webserver', 'Webserver') }}

                            {{ sections.single(extensionManager, 'php') }}

                            {{ sections.grouped(extensionManager, 'php-extensions') }}

                            {{ sections.singleSelectGrouped(extensionManager, 'database', 'Database') }}

                            {{ sections.singleSelectGrouped(extensionManager, 'work-queue', 'Work Queue') }}

                        </div>

                        <section id="create">

                            <div class="page-header">
                                <h1>Create your Manifest</h1>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block tall text-large">
                                        Go ahead then, make it!
                                    </button>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}
