{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>PuPHPet - Online GUI configurator for Puppet & Vagrant</title>
        <meta name="description" content="Vagrant/Puppet GUI Configuration" />
        <meta name="author" content="Juan Treminio @ https://jtreminio.com" />
        <meta charset="utf-8" />

        {% block stylesheets %}
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Anton" />
            <link rel="stylesheet" href="{{ asset('assets/v5/vendor/font-awesome-4.3.0/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/v5/vendor/bootstrap-3.3.4/bootstrap-3.3.4.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/v5/vendor/selectize.js/selectize.bootstrap3.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/v5/vendor/webui-popover/jquery.webui-popover.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/v5/css/style.css') }}" />
        {% endblock %}

        {% block topJs %}
            <!--[if lt IE 9]>
            <script src="{{ asset('assets/v5/vendor/html5shiv.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('assets/v5/vendor/jquery-2.1.3.min.js') }}"></script>
            <script src="{{ asset('assets/v5/vendor/bootstrap-3.3.4/bootstrap-3.3.4.min.js') }}"></script>
            <script>var uploadConfigUrl = '{{ path('puphpet.main.upload_config') }}';</script>
        {% endblock %}
    </head>
{% endblock head %}

<body>
<section id="container">

{% block topMenu %}
    <div id="top" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#frontpage" class="navbar-brand" data-toggle="tab">
                    Pu<span class="colored">PHP</span>et
                </a>
            </div>
            <div id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="#about" data-toggle="tab">About</a></li>
                    <li><a href="#help" data-toggle="tab">Help!</a></li>
                    <li><a href="http://blog.puphpet.com" target="_blank">Blog</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://kiwiirc.com/client/chat.freenode.net/#puphpet" target="_blank">#puphpet on Freenode</a></li>
                    <li><a href="https://github.com/puphpet/puphpet/issues" target="_blank">Issues?</a></li>
                    <li><a href="https://github.com/puphpet/puphpet" target="_blank">Fork Me</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'PuphpetMainBundle:front:side-menu.html.twig' %}

<section id="main-content">
    <section class="wrapper">
        {% block main %}
            <div id="drag-drop"><p><span class="glyphicon glyphicon-cloud-upload"></span><br />upload your config</p></div>

            <form id="main-form" role="form" action="{{ path('puphpet.main.homepage') }}" method="post">
                <div class="tab-content" id="tab-main-container">
                    {% include 'PuphpetMainBundle:front:index.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/about.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/help.html.twig' %}

                    {% include 'PuphpetMainBundle:front:sections/deploy-target.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/system.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/webserver.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/language.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/database.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/mail.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/work-queue.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/search-server.html.twig' %}
                    {% include 'PuphpetMainBundle:front:sections/create.html.twig' %}

                    <div class="clearfix"></div>
                </div>
            </form>
        {% endblock %}
    </section>

    {% block footer %}
        <footer>
            <div class="col-sm-12">
                <ul class="list-unstyled list-inline pull-left">
                    <li><i class="fa fa-pencil"></i> <a href="https://jtreminio.com" target="_blank">Blog</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/puphpet" target="_blank">Twitter</a></li>
                    <li><i class="fa fa-github"></i> <a href="https://github.com/puphpet/puphpet" target="_blank">GitHub</a></li>
                    <li><i class="fa fa-comments"></i> <a href="https://kiwiirc.com/client/chat.freenode.net/#puphpet" target="_blank">IRC</a></li>
                </ul>

                <ul class="list-unstyled list-inline pull-right">
                    <li>
                        <iframe class="github-btn" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"
                                src="{{ path('puphpet.main.github_btn') }}?user=puphpet&repo=puphpet&type=watch&count=true"></iframe>
                    </li>
                    <li>
                        <iframe class="github-btn" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"
                                src="{{ path('puphpet.main.github_btn') }}?user=puphpet&repo=puphpet&type=fork&count=true"></iframe>
                    </li>
                </ul>
            </div>

            <div class="col-xs-9">
                <p>Made with <span class="glyphicon glyphicon-heart"></span>
                    by <a href="https://jtreminio.com">Juan Treminio</a>.</p>
                <p>Contact him at <a href="mailto:jtreminio@gmail.com">jtreminio@gmail.com</a>.</p>
                <p>Code licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
                <p>Bandwidth donated by:
                    <a href="http://rackspace.com" target="_blank"><img
                            src="{{ asset('assets/v5/img/rackspace-logo.png') }}" width="200" /></a></p>
            </div>

            <div class="col-xs-2">
                <p><img src="{{ asset('assets/v5/img/logo-footer.png') }}" /></p>
            </div>

            <div class="clearfix"></div>
        </footer>
    {% endblock footer %}
</section>

    {% block footerJs %}
        <script src="{{ asset('assets/v5/vendor/highlight-8.4/highlight.pack.js') }}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="{{ asset('assets/v5/vendor/selectize.js/selectize.min.js') }}"></script>
        <script src="{{ asset('assets/v5/vendor/webui-popover/jquery.webui-popover.js') }}"></script>
        <script src="{{ asset('assets/v5/js/custom.js') }}"></script>
    {% endblock footerJs %}

    {% if not app.debug %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-29873536-2', 'puphpet.com');
            ga('send', 'pageview');
        </script>
    {% endif %}

</section>
</body>
</html>
