{% if vhostNum is not defined %}
{% set vhostNum = 1 %}
{% endif %}

<fieldset id="nginx-vhost-{{ vhostNum }}">
    <legend>Virtual Host #{{ vhostNum }}</legend>

    <div class="row">
        <div class="col col-lg-5">
            <label for="nginx-vhosts-{{ vhostNum }}-servername">Server Name</label>
            <input id="nginx-vhosts-{{ vhostNum }}-servername" name="nginx[vhosts][{{ vhostNum }}][servername]"
                   type="text" required placeholder="awesome.dev" value="awesome.dev" />
        </div>
        <div class="col col-lg-5">
            <label for="nginx-vhosts-{{ vhostNum }}-serveraliases">Server Aliases</label>
            <input id="nginx-vhosts-{{ vhostNum }}-serveraliases" name="nginx[vhosts][{{ vhostNum }}][serveraliases]"
                   type="text" placeholder="www.awesome.dev" value="" />
            <p class="help-block">Separated by comma</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="nginx-vhosts-{{ vhostNum }}-docroot">Document Root</label>
            <input id="nginx-vhosts-{{ vhostNum }}-docroot" name="nginx[vhosts][{{ vhostNum }}][docroot]"
                   type="text" required placeholder="/var/www/awesome" value="/var/www/" />
        </div>
        <div class="col col-lg-2">
            <label for="nginx-vhosts-{{ vhostNum }}-port">Port</label>
            <input id="nginx-vhosts-{{ vhostNum }}-port" name="nginx[vhosts][{{ vhostNum }}][port]"
                   type="text" placeholder="80" value="80" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col col-lg-5">
            <label for="nginx-vhosts-{{ vhostNum }}-index-files">Index Files</label>
            <input id="nginx-vhosts-{{ vhostNum }}-index-files" name="nginx[vhosts][{{ vhostNum }}][index_files]"
                   type="text" required value="index.html,index.htm,index.php" />
            <p class="help-block">The last file should be the accessor to your PHP script or front controller</p>
        </div>
        <div class="col col-lg-5">
            <label for="nginx-vhosts-{{ vhostNum }}-envvars">Environment Variables</label>
            <input id="nginx-vhosts-{{ vhostNum }}-envvars" name="nginx[vhosts][{{ vhostNum }}][envvars]"
                   type="text" class="tags" placeholder="APP_ENV dev, APP_FOO bar"
                   value="" />
            <p class="help-block">"name value", separated by comma</p>
        </div>
    </div>
</fieldset>

<br />

{% if vhostNum != '1' %}
    <p class="text-center"><a class="nginx-vhost-del btn btn-danger" href="#" rel="nginx-vhost-{{ vhostNum }}">Delete this Host</a></p>
{% endif %}
