{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('nxv_', true) %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">Nginx Virtual Host</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-server_name">
                    Server Name
                    {{ popover.small('Don\'t forget to <a href="/help#update-my-hosts-file">update your computer\'s hosts file!</a>') }}
                </label>
                <input type="text" id="nginx-vhosts-{{ uniqid }}-server_name"
                       name="nginx[vhosts][{{ uniqid }}][server_name]"
                       required placeholder="awesome.dev"
                       value="{{ vhost.server_name }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-server_aliases">
                    Server Aliases
                    {{ popover.small('Separated by comma') }}
                </label>
                <select id="nginx-vhosts-{{ uniqid }}-server_aliases"
                        name="nginx[vhosts][{{ uniqid }}][server_aliases][]"
                        multiple class="form-control select-tags-editable">
                    {% if vhost.server_aliases is defined %}
                        {% for alias in vhost.server_aliases %}
                            <option selected value="{{ alias }}">{{ alias }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-www_root">
                    Document Root
                    {{ popover.small('Location of your site\'s index.php file, or other landing page.') }}
                </label>
                <input type="text" id="nginx-vhosts-{{ uniqid }}-www_root"
                       name="nginx[vhosts][{{ uniqid }}][www_root]"
                       required placeholder="/var/www"
                       value="{{ vhost.www_root }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-listen_port">
                    Port
                    {{ popover.small('80 for normal browsing, if you choose another append it to the URL,
                        ex: http://awesome.dev:1337') }}
                </label>
                <input type="number" id="nginx-vhosts-{{ uniqid }}-listen_port"
                       name="nginx[vhosts][{{ uniqid }}][listen_port]"
                       required placeholder="80"
                       value="{{ vhost.listen_port }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">

            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-index_files">
                    Index Files
                    {{ popover.small('The last file should be the accessor to your PHP script or front controller') }}
                </label>
                <select id="nginx-vhosts-{{ uniqid }}-index_files"
                        name="nginx[vhosts][{{ uniqid }}][index_files][]"
                        multiple class="form-control select-tags-editable">
                    {% for index_file in vhost.index_files %}
                        <option selected value="{{ index_file }}">{{ index_file }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6">
                <label for="nginx-vhosts-{{ uniqid }}-envvars">
                    Environment Variables
                    {{ popover.small('"name value", separated by comma') }}
                </label>
                <select id="nginx-vhosts-{{ uniqid }}-envvars"
                        name="nginx[vhosts][{{ uniqid }}][envvars][]"
                        multiple class="form-control select-tags-editable">
                    {% for envvar in vhost.envvars %}
                        <option selected value="{{ envvar }}">{{ envvar }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label class="checkbox-inline">
                    <input type="checkbox" class="install-checkbox"
                           id="nginx-vhosts-{{ uniqid }}-ssl"
                           name="nginx[vhosts][{{ uniqid }}][ssl]" value="1"
                           data-hide-on-uncheck="#nginx-vhosts-{{ uniqid }}-ssl_options"
                           {% if vhost.ssl is defined and vhost.ssl %}checked{% endif %} />
                    Enable SSL
                </label>
            </div>
        </div>

        <div class="{% if vhost.ssl is not defined or not vhost.ssl %}hidden{% endif %}" id="nginx-vhosts-{{ uniqid }}-ssl_options">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ uniqid }}-ssl_cert">
                        SSL Certificate File Path
                        {{ popover.small('Absolute path to SSL Certificate File. Usually ends in .crt.
                            Leave blank to use a generic one.
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://nginx.org/en/docs/http/configuring_https_servers.html" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="nginx-vhosts-{{ uniqid }}-ssl_cert"
                           name="nginx[vhosts][{{ uniqid }}][ssl_cert]"
                           placeholder="/leave/blank/for/sample"
                           value="{% if vhost.ssl_cert is defined %}{{ vhost.ssl_cert }}{% endif %}" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ uniqid }}-ssl_key">
                        SSL Certificate Key File Path
                        {{ popover.small('Absolute path to SSL Certificate Key File. Usually ends in .key.
                            Leave blank to use a generic one
                            <strong>DO NOT LEAVE BLANK FOR PRODUCTION</strong>.
                            This should be the location within the VM, not the host!
                            <a href="http://nginx.org/en/docs/http/configuring_https_servers.html" target="_blank">Learn more about this</a>.') }}
                    </label>
                    <input type="text" id="nginx-vhosts-{{ uniqid }}-ssl_key"
                           name="nginx[vhosts][{{ uniqid }}][ssl_key]"
                           placeholder="/leave/blank/for/sample"
                           value="{% if vhost.ssl_key is defined %}{{ vhost.ssl_key }}{% endif %}" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="nginx-vhosts-{{ uniqid }}-rewrite_to_https"
                               name="nginx[vhosts][{{ uniqid }}][rewrite_to_https]" value="1"
                               {% if vhost.rewrite_to_https is defined and vhost.rewrite_to_https %}checked{% endif %} />
                        Rewrite to SSL
                        {{ popover.small('Forwards all non-SSL traffic to SSL vhost.') }}
                    </label>
                </div>

                <div class="col-md-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="nginx-vhosts-{{ uniqid }}-spdy"
                               name="nginx[vhosts][{{ uniqid }}][spdy]" value="1"
                               {% if vhost.spdy is defined and vhost.spdy %}checked{% endif %} />
                        Enable <a href="http://blog.cloudflare.com/introducing-spdy" target="_blank">Spdy Module</a>
                    </label>
                </div>
            </div>

            <p class="help-block">
                There is currently a bug where self-signed certificate will not work in CentOS for Nginx. PRs are welcome!
            </p>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this vhost</button>
        </p>
    </div>
</div>
