{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('rmqu_', true)|lower %}

<div class="panel panel-default" id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">RabbitMQ User</h3>
    </div>

    <div class="panel-body">

        <div class="row form-group">
            <div class="col-md-12">
                <label class="checkbox-inline">
                    <input type="checkbox"
                           id="rabbitmq-users-{{ uniqid }}-admin"
                           {% if user.admin is defined and user.admin %}checked{% endif %} />
                    Make user admin
                </label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="rabbitmq-users-{{ uniqid }}-name">
                    Username
                </label>
                <input type="text" id="rabbitmq-users-{{ uniqid }}-name"
                       name="rabbitmq[users][{{ uniqid }}][name]" placeholder="admin"
                       value="{{ user.name }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="rabbitmq-users-{{ uniqid }}-password">
                    Password
                </label>
                <input type="text" id="rabbitmq-users-{{ uniqid }}-password"
                       name="rabbitmq[users][{{ uniqid }}][password]" placeholder="***"
                       value="{{ user.password }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="rabbitmq-users-{{ uniqid }}-tags">
                    Tags
                    {{ popover.small('Separated by comma') }}
                </label>
                <select id="rabbitmq-users-{{ uniqid }}-tags"
                        name="rabbitmq[users][{{ uniqid }}][tags][]"
                        multiple class="form-control select-tags-editable">
                    {% if user.tags is defined %}
                        {% for tag in user.tags %}
                            <option selected value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        {% for permission in user.permissions %}
            {% include 'PuphpetExtensionRabbitMQBundle:sections:permission.html.twig' with {'userId': uniqid, 'permission': permission} %}
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                        data-source-url="{{ path('puphpet.extension.rabbitmq.permission', {'userId': uniqid}) }}">Add another RabbitMQ user permissions</button>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this user</button>
        </p>
    </div>
</div>
