{% set providerChosen = (data.target == 'local') ? true : false %}

{% set machines = (data.vm.provider.local.machines is defined and data.vm.provider.local.machines)
    ? data.vm.provider.local.machines : [] %}
{% set syncedFolders = (data.vm.synced_folder is defined and data.vm.synced_folder)
    ? data.vm.synced_folder : [] %}

{% set proxy = (data.proxy.enabled is defined and data.proxy.enabled) ? true : false %}
{% set proxy_http = (data.proxy.proxy_http is defined) ? data.proxy.proxy_http : '' %}
{% set proxy_https = (data.proxy.proxy_https is defined) ? data.proxy.proxy_https : '' %}
{% set proxy_ftp = (data.proxy.proxy_ftp is defined) ? data.proxy.proxy_ftp : '' %}
{% set proxy_no_proxy = (data.proxy.proxy_no_proxy is defined) ? data.proxy.proxy_no_proxy : '' %}

<div class="field-container">
    <div class="form-group">
        <div class="help-text">
            Deploy your virtual machine on your local PC.
        </div>
        <label class="radio-tile">
            <input type="radio" name="vagrantfile[target]" value="local" class="invisible"
                   {% if providerChosen %}checked{% endif %} />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Deploy to Local Host</span>
                </span>
                <span class="footer">
                    The virtual machine will live inside your local PC.
                    <a href="#" data-toggle="modal"
                       data-target="#vagrantfile-local-modal">Click here for instructions</a>.
                </span>
            </span>
        </label>
    </div>

    <div class="clearfix"></div>

    <div id="vagrantfile-local-container" class="hideable vagrantfile {% if not providerChosen %}hidden{% endif %}">
        <input type="hidden" id="vagrantfile-vm-provider-local-box"
               name="vagrantfile[vm][provider][local][box]" value="{{ formValue(data.vm.provider.local.box) }}" />
        <input type="hidden" id="vagrantfile-vm-provider-local-box_version"
               name="vagrantfile[vm][provider][local][box_version]"
               value="{{ formValue(data.vm.provider.local.box_version) }}" />

        {% for key, value in data.ssh %}
            <input type="hidden" id="vagrantfile-ssh-{{ key }}"
                name="vagrantfile[ssh][{{ key }}]" value="{{ formValue(value) }}" />
        {% endfor %}

        <div class="form-group">
            <div class="clearfix"><label>Provider</label></div>

            {% for virtualizer in data.available.virtualizers %}
                <div class="radio">
                    <span class="help-text">
                        {{ virtualizer.description|raw }}
                    </span>
                    <input type="radio" class="update-local-ip-address"
                       id="vagrantfile-vm-provider-local-chosen_virtualizer-{{ virtualizer.name }}"
                       name="vagrantfile[vm][provider][local][chosen_virtualizer]"
                       value="{{ virtualizer.name }}"
                       {% if virtualizer.name == data.vm.provider.local.chosen_virtualizer %}checked{% endif %}
                       data-base-ip="{{ virtualizer.base_ip }}"
                    />
                    <label for="vagrantfile-vm-provider-local-chosen_virtualizer-{{ virtualizer.name }}">
                        {{ virtualizer.long_name }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="help-text">
                <p>Choose the operating system for your VM. It will be downloaded the first
                    time you run Vagrant.
                    <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html"
                       target="_blank">More information may be found here</a>.</p>

                <p>Note: Listed are the PHP installs that we have confirmed as working for
                    their respective operating system. You are welcome to attempt to install
                    higher if you'd like, but we cannot guarantee it will work. In fact in
                    most cases it won't.</p>
            </div>
            <div class="clearfix"><label>Distro</label></div>

            {% for box in data.available.boxes %}
                <div class="radio">
                    <input type="radio" class="update-other-input"
                           id="vagrantfile-vm-provider-local-box_url-{{ box.short_name }}"
                           name="vagrantfile[vm][provider][local][box_url]"
                           value="{{ box.url }}"
                           {% if box.url == data.vm.provider.local.box_url %}checked{% endif %}
                           data-update-vagrantfile-vm-provider-local-box="{{ box.short_name }}" />
                    <label for="vagrantfile-vm-provider-local-box_url-{{ box.short_name }}">
                        {{ box.long_name }} <br />(PHP {{ box.php_versions|join(', ') }})
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        {% for machine in machines %}
            {% include 'PuphpetBundle:vagrantfile-local/sections:machine.html.twig' with {'machine': machine} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.vagrantfile_local.machine') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another machine</a>

        <div class="clearfix"></div>

        {% for synced_folder in syncedFolders %}
            {% include 'PuphpetBundle:vagrantfile-local/sections:synced-folder.html.twig' with {'synced_folder': synced_folder} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.vagrantfile_local.synced_folder') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another shared folder</a>

        <div class="clearfix"></div>

        <div class="form-group form-group-lg">
            <fieldset>
                <legend>
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" class="form-control styled toggle-on-select"
                               id="vagrantfile-proxy-enabled"
                               name="vagrantfile[proxy][enabled]"
                               {% if proxy %}checked{% endif %}
                               value="1"
                               data-vis-toggle-target="#vagrantfile-proxy-proxy_options" />
                        <label for="vagrantfile-proxy-enabled">
                            Enable Proxy
                        </label>
                    </div>
                </legend>
            </fieldset>
        </div>

        <div class="nested-block {% if not proxy %}hidden{% endif %}" id="vagrantfile-proxy-proxy_options">
            <fieldset>
                <legend>Proxy Options</legend>
                <div class="form-group col-xs-12">
                    <label for="vagrantfile-proxy-http">Proxy for HTTP URIs</label>
                    <input type="text" id="vagrantfile-proxy-http"
                           name="vagrantfile[proxy][http]"
                           placeholder="http://192.168.0.2:3128/" class="form-control"
                           value="{{ proxy_http }}" />
                </div>

                <div class="form-group col-xs-12">
                    <label for="vagrantfile-proxy-https">Proxy for HTTPS URIs</label>
                    <input type="text" id="vagrantfile-proxy-https"
                           name="vagrantfile[proxy][https]"
                           placeholder="http://192.168.0.2:3128/" class="form-control"
                           value="{{ proxy_https }}" />
                </div>

                <div class="form-group col-xs-12">
                    <label for="vagrantfile-proxy-ftp">Proxy for FTP URIs</label>
                    <input type="text" id="vagrantfile-proxy-ftp"
                           name="vagrantfile[proxy][ftp]"
                           placeholder="http://192.168.0.2:3128/" class="form-control"
                           value="{{ proxy_ftp }}" />
                </div>

                <div class="form-group col-xs-12">
                    <label for="vagrantfile-proxy-no_proxy">Comma-Separated Excluded Hosts or Domains</label>
                    <input type="text" id="vagrantfile-proxy-no_proxy"
                           name="vagrantfile[proxy][no_proxy]"
                           placeholder="localhost,127.0.0.1,.example.com" class="form-control"
                           value="{{ proxy_no_proxy }}" />
                </div>

                <div class="help-block">
                    <p>Requires installing the <code>vagrant-proxyconf</code> plugin:</p>

                    <p><code>vagrant plugin install vagrant-proxyconf</code></p>

                    <p><a href="https://github.com/tmatilai/vagrant-proxyconf/"
                          target="_blank">Click here for more information</a>.</p>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
        <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#system-packages">
            System Packages <i class="fa fa-hand-o-right"></i>
        </a>
    </div>

    <div class="clearfix"></div>
</div>

<div class="modal fade" id="vagrantfile-local-modal" tabindex="-1" role="dialog"
     aria-labelledby="vagrantfile-local-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vagrantfile-local-modal-label">
                    Instructions for Local Deployment
                </h4>
            </div>
            <div class="modal-body">
                <ol>
                    <li><a href="https://www.virtualbox.org/wiki/Downloads" target="_blank">Download the latest version
                            of VirtualBox from here</a></li>
                    <li><a href="http://www.vagrantup.com/downloads.html" target="_blank">Download the latest version of
                            Vagrant from here.</a></li>
                </ol>

                <p>
                    To login to your VM you must use <code>$ vagrant ssh</code> or user <code>vagrant</code>
                    using the private key automatically generated at
                    <code>puphpet/files/dot/ssh/id_rsa.key</code>. This key is generated <strong>after</strong>
                    your initial <code>$ vagrant up</code>!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
