{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('nxvl_', true)|lower %}

<div class="row form-group">
    <div class="panel panel-default" id="{{ uniqid }}">
        <div class="panel-heading">
            <h3 class="panel-title">Location Block</h3>
        </div>

        <!-- BEGIN LOCATION -->
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-location">
                        Location Match
                        <a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#location"
                           target="_blank"><i class="popover-container fa fa-question-circle text-warning"
                                              data-original-title="" title=""></i></a>
                    </label>
                    <input type="text" id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-location"
                           name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][location]"
                           placeholder="/" value="{{ location.location }}"
                           class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-try_files">
                        Try Files
                        <a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#try_files"
                           target="_blank"><i class="popover-container fa fa-question-circle text-warning"
                                              data-original-title="" title=""></i></a>
                    </label>
                    <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-try_files"
                            name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][try_files][]"
                            multiple class="form-control select-tags-editable">
                        {% if location.try_files is defined %}
                            {% for try_file in location.try_files %}
                                <option selected value="{{ try_file }}">{{ try_file }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi">
                        FastCGI Pass
                        <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_pass"
                           target="_blank"><i class="popover-container fa fa-question-circle text-warning"
                                              data-original-title="" title=""></i></a>
                    </label>
                    <input type="text"
                           id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi"
                           name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi]"
                           placeholder="127.0.0.1:9000"
                           value="{{ location.fastcgi }}"
                           class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_index">
                        FastCGI Index
                        <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_pass"
                           target="_blank"><i class="popover-container fa fa-question-circle text-warning"
                                              data-original-title="" title=""></i></a>
                    </label>
                    <input type="text"
                           id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_index"
                           name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi_index]"
                           placeholder="index.php"
                           value="{{ location.fastcgi_index }}"
                           class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_split_path">
                        FastCGI Split Path Info
                        <a href="http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_split_path_info"
                           target="_blank"><i class="popover-container fa fa-question-circle text-warning"
                                              data-original-title="" title=""></i></a>
                    </label>
                    <input type="text"
                           id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fastcgi_split_path"
                           name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fastcgi_split_path]"
                           placeholder="^(.+\.php)(/.*)$"
                           value="{{ location.fastcgi_split_path }}"
                           class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fast_cgi_params_extra">
                        FastCGI Environment Variables
                        {{ popover.small('"name value", separated by comma') }}
                    </label>
                    <select id="nginx-vhosts-{{ vhostId }}-locations-{{ uniqid }}-fast_cgi_params_extra"
                            name="nginx[vhosts][{{ vhostId }}][locations][{{ uniqid }}][fast_cgi_params_extra][]"
                            multiple class="form-control select-tags-editable">
                        {% if location.fast_cgi_params_extra is defined %}
                            {% for param in location.fast_cgi_params_extra %}
                                <option selected value="{{ param }}">{{ param }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <p class="text-center">
                <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                        data-parent-id="{{ uniqid }}">Remove this location</button>
            </p>
        </div>
    </div>
</div>
