{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('nxv_', true) %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">Nginx Proxy Upstreams</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="nginx-upstreams-{{ uniqid }}-name">
                    Name
                    {{ popover.small('Name of the upstream configuration.
                        You will reference this name in the Virtual host proxy configuration as http://<name>') }}
                </label>
                <input type="text" id="nginx-upstreams-{{ uniqid }}-name"
                       name="nginx[upstreams][{{ uniqid }}][name]" placeholder="backend"
                       value="{{ upstream.name }}" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="nginx-upstreams-{{ uniqid }}-fail_timeout">
                    Fail Timeout
                    {{ popover.small('Time in seconds, example: 10s') }}
                </label>
                <input type="text" id="nginx-upstreams-{{ uniqid }}-fail_timeout"
                       name="nginx[upstreams][{{ uniqid }}][fail_timeout]" placeholder="10s"
                       value="{{ upstream.fail_timeout }}" class="form-control" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label for="nginx-upstreams-{{ uniqid }}-members">
                    Members
                    {{ popover.small('URL of your proxy servers') }}
                </label>
                <select id="nginx-upstreams-{{ uniqid }}-members"
                        name="nginx[upstreams][{{ uniqid }}][members][]"
                        multiple class="form-control select-tags-editable">
                    {% for member in upstream.members %}
                        <option selected value="{{ member }}">{{ member }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this upstream</button>
        </p>
    </div>
</div>
