{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('avd_', true)|lower %}

<div class="row form-group">
    <div class="panel panel-default" id="{{ uniqid }}">
        <div class="panel-heading">
            <h3 class="panel-title">FilesMatch Block</h3>
        </div>

        <!-- BEGIN FILESMATCH -->
        <div class="panel-body">
            <input type="hidden" value="{{ filesMatch.provider }}"
                   name="apache[vhosts][{{ vhostId }}][directories][{{ directoryId }}][files_match][{{ uniqid }}][provider]" />

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-path">
                        Path
                        {{ popover.small('Regex allowed') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-path"
                           name="apache[vhosts][{{ vhostId }}][directories][{{ directoryId }}][files_match][{{ uniqid }}][path]"
                           placeholder="\.php$"
                           value="{{ filesMatch.path }}" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-sethandler">
                        Set Handler
                    </label>
                    <input type="text" id="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-sethandler"
                           name="apache[vhosts][{{ vhostId }}][directories][{{ directoryId }}][files_match][{{ uniqid }}][sethandler]"
                           placeholder="proxy:fcgi://127.0.0.1:9000"
                           value="{{ filesMatch.sethandler }}" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label for="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-custom_fragment">
                        FilesMatch-Level Custom Directives
                        {{ popover.small('File must exist inside VM on initial "$ vagrant up"!
                            <a href="http://git.io/h7ZH" target="_blank">The custom fragment would be added here.</a>') }}
                    </label>
                    <input type="text" id="apache-vhosts-{{ vhostId }}-directories-{{ directoryId }}-files_match-{{ uniqid }}-custom_fragment"
                           name="apache[vhosts][{{ vhostId }}][directories][{{ directoryId }}][files_match][{{ uniqid }}][custom_fragment]"
                           placeholder="/path/to/file" value="{{ filesMatch.custom_fragment }}" class="form-control" />
                </div>
            </div>

            <p class="text-center">
                <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                        data-parent-id="{{ uniqid }}">Remove this files match</button>
            </p>
        </div>
    </div>
</div>
