{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('av_', true)|lower %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">Apache Virtual Host</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-servername">
                    Server Name
                    {{ popover.small('Don\'t forget to <a href="/help#update-my-hosts-file">update your computer\'s hosts file!</a>') }}
                </label>
                <input type="text" id="apache-vhosts-{{ uniqid }}-servername"
                       name="apache[vhosts][{{ uniqid }}][servername]" placeholder="awesome.dev"
                       value="{{ vhost.servername }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-serveraliases">
                    Server Aliases
                    {{ popover.small('Separated by comma') }}
                </label>
                <select id="apache-vhosts-{{ uniqid }}-serveraliases"
                        name="apache[vhosts][{{ uniqid }}][serveraliases][]"
                        multiple class="form-control select-tags-editable">
                    {% if vhost.serveraliases is defined %}
                        {% for alias in vhost.serveraliases %}
                            <option selected value="{{ alias }}">{{ alias }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-docroot">
                    Document Root
                    {{ popover.small('Location of your site\'s index.php file, or other landing page.') }}
                </label>
                <input type="text" id="apache-vhosts-{{ uniqid }}-docroot"
                       name="apache[vhosts][{{ uniqid }}][docroot]" placeholder="/var/www"
                       value="{{ vhost.docroot }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-port">
                    Port
                    {{ popover.small('80 for normal browsing, if you choose another append it to the URL,
                        ex: http://awesome.dev:1337') }}
                </label>
                <input type="number" id="apache-vhosts-{{ uniqid }}-port"
                       name="apache[vhosts][{{ uniqid }}][port]" placeholder="80"
                       value="{{ vhost.port }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="apache-vhosts-{{ uniqid }}-setenv">
                    Environment Variables
                    {{ popover.small('"name value", separated by comma') }}
                </label>
                <select id="apache-vhosts-{{ uniqid }}-setenv"
                        name="apache[vhosts][{{ uniqid }}][setenv][]"
                        multiple class="form-control select-tags-editable">
                    {% if vhost.setenv is defined %}
                        {% for setenv in vhost.setenv %}
                            <option selected value="{{ setenv }}">{{ setenv }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>

        {% if vhost.directories is defined %}
            {% for directory in vhost.directories %}
                {% include 'PuphpetExtensionApacheBundle:sections:directories.html.twig' with {'vhost': vhost, 'directory': directory, 'v_uniqid': uniqid} %}
            {% endfor %}
        {% else %}
            {% render controller('PuphpetExtensionApacheBundle:Front:directory', { 'vhost': vhost, 'uniqid': uniqid }) %}
        {% endif %}

        <div class="row form-group">
            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-engine">
                    Engine
                    {{ popover.small('Engine to power this vhost.') }}
                </label>

                <select id="apache-vhosts-{{ uniqid }}-engine"
                        name="apache[vhosts][{{ uniqid }}][engine]" size="6"
                        class="form-control select-tags">
                    {% for engine in available_engines %}
                        <option value="{{ engine }}"
                            {% if vhost.engine is defined and engine == vhost.engine %}selected
                            {% elseif vhost.engine is defined and not vhost.engine and engine == 'php' %}selected
                            {% endif %}>{{ engine }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6">
                <label for="apache-vhosts-{{ uniqid }}-custom_fragment">
                    Custom Directives (<strong>outside</strong> &lt;Directory&gt; block)
                </label>
                <textarea id="apache-vhosts-{{ uniqid }}-custom_fragment"
                       name="apache[vhosts][{{ uniqid }}][custom_fragment]"
                       class="form-control">{% if vhost.custom_fragment is defined %}{{ vhost.custom_fragment }}{% endif %}</textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <p class="text-center">
                    <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                            data-parent-id="{{ uniqid }}">Remove this vhost</button>
                </p>
            </div>
        </div>

    </div>
</div>
