{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
{% set uniqid = uniqid('postsqlnuad_', true) %}

<div id="{{ uniqid }}">
    <div class="panel-heading">
        <h3 class="panel-title">PostgreSQL Create User & Database</h3>
    </div>

    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-12">
                <label for="postgresql-databases-{{ uniqid }}-grant">Privileges</label>

                <select id="postgresql-databases-{{ uniqid }}-grant"
                        name="postgresql[databases][{{ uniqid }}][grant]" size="6"
                        class="form-control select-tags">
                    {% for privilege in available_privileges %}
                        <option value="{{ privilege }}"
                            {% if privilege in database.grant %}selected{% endif %}>{{ privilege }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="postgresql-databases-{{ uniqid }}-name">DB Name</label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-name"
                       name="postgresql[databases][{{ uniqid }}][name]" placeholder="database name"
                       value="{{ database.name }}" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="postgresql-databases-{{ uniqid }}-user">
                    Username
                    {{ popover.small('At this time, one user can only be assigned to one database. You should not enter "root"
                        here! You should not have a single user appear twice!') }}
                </label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-user"
                       name="postgresql[databases][{{ uniqid }}][user]"
                       placeholder="username"
                       value="{{ database.user }}" class="form-control" />
            </div>

            <div class="col-md-6">
                <label for="postgresql-databases-{{ uniqid }}-password">Password</label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-password"
                       name="postgresql[databases][{{ uniqid }}][password]"
                       required placeholder="password"
                       value="{{ database.password }}" class="form-control" />
                <p class="help-block">Important! This cannot be blank!</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="postgresql-databases-{{ uniqid }}-sql_file">
                    Import Database From File
                    {{ popover.small('Optional. Make sure this file is inside the VM before running
                        <code>$ vagrant up</code>') }}
                </label>
                <input type="text" id="postgresql-databases-{{ uniqid }}-sql_file"
                       name="postgresql[databases][{{ uniqid }}][sql_file]"
                       placeholder="/var/www/sql/database_name.sql"
                       value="{{ database.sql_file }}" class="form-control" />
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                    data-parent-id="{{ uniqid }}">Remove this database</button>
        </p>
    </div>
</div>
