{% set uniqid = uniqid('vvnf_', true) %}

<!-- Vagrantfile / Ports -->
<div class="row" id="{{ uniqid }}">
    <div class="col-xs-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Forwarded Ports</h3>
            </div>

            <div class="panel-body">
                <div class="row form-group">
                        <div class="col-md-6">
                            <label for="vagrantfile-vm-network-forwarded_port-{{ uniqid }}-host">Host Port</label>
                            <input type="number" id="vagrantfile-vm-network-forwarded_port-{{ uniqid }}-host"
                                   name="vagrantfile[vm][network][forwarded_port][{{ uniqid }}][host]"
                                   placeholder="Host to VM port (e.g. 8080)" pattern="^[1-9][0-9]*$"
                                   required min="1" max="65535"
                                   title="Port on Host to forward to VM (e.g. 8080)"
                                   value="{{ forwarded_port.guest }}"
                                   class="form-control" />

                            <p class="help-block">
                                Port on Host to forward to VM. Optional,
                                <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html"
                                   target="_blank">more information</a>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label for="vagrantfile-vm-network-forwarded_port-{{ uniqid }}-guest">Box Port</label>
                            <input type="number" id="vagrantfile-vm-network-forwarded_port-{{ uniqid }}-guest"
                                   name="vagrantfile[vm][network][forwarded_port][{{ uniqid }}][guest]"
                                   placeholder="VM from Host port (e.g. 80)" pattern="^[1-9][0-9]*$"
                                   required min="1" max="65535"
                                   title="Port on VM to accept from Host (e.g. 80)"
                                   value="{{ forwarded_port.host }}"
                                   class="form-control" />

                            <p class="help-block">
                                Port on VM to accept from Host. Optional,
                                <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html"
                                   target="_blank">more information</a>
                            </p>
                        </div>
                    </div>

                <p class="text-center">
                    <button type="button" class="btn btn-danger btn-sm deleteParentContainer"
                            data-parent-id="{{ uniqid }}">Remove this port pair</button>
                </p>
            </div>

        </div>
    </div>
    <div class="col-xs-3 right-panel"></div>
</div>
<!-- end Vagrantfile / Ports -->
