{% set selectedVersion = (mongodb.global.version is defined and mongodb.global.version)
    ? mongodb.global.version
    : false %}

<input type="hidden" name="mongodb[install]" value="0" />

<div class="field-container">
    <div class="form-group">
        <label class="col-xs-12 radio-tile">
            <input type="checkbox" name="mongodb[install]" value="1"
                   class="invisible toggle-on-select"
                   {% if mongodb.install %}checked{% endif %}
                   data-vis-toggle-target="#mongodb-container" />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Install MongoDB</span>
                </span>
                <span class="footer">
                    An open-source document database, and the leading NoSQL database.
                </span>
            </span>
        </label>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="mongodb-container" class="{% if not mongodb.install %}hidden{% endif %}">
        <div class="form-group col-xs-12">
            <div class="help-text">
                Select the proper version for your chosen distro.
            </div>
            <label for="mongodb-globals-version">Version</label>
            <select id="mongodb-globals-version"
                   name="mongodb[globals][version]"
                   class="form-control select-tag">
                <optgroup label="Ubuntu">
                    {% for version in mongodb.available.versions_deb %}
                        <option value="{{ version }}"
                            {% if version == selectedVersion %}selected{% endif %}>&nbsp;&nbsp;{{ version }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="CentOS">
                    {% for version in mongodb.available.versions_rhel %}
                        <option value="{{ version }}"
                            {% if version == selectedVersion %}selected{% endif %}>&nbsp;&nbsp;{{ version }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                IP Address Mongo will listen on. Will usually be local.
            </div>
            <label for="mongodb-settings-bind_ip">Bind IP</label>
            <input type="text" id="mongodb-settings-bind_ip"
                   name="mongodb[settings][bind_ip]"
                   placeholder="127.0.0.1" class="form-control"
                   value="{{ mongodb.settings.bind_ip }}" />
        </div>

        <div class="form-group col-xs-12">
            <div class="help-text">
                Port will automatically be added to <code>iptables</code>.
            </div>
            <label for="mongodb-settings-port">Listen Port</label>
            <input type="text" id="mongodb-settings-port"
                   name="mongodb[settings][port]"
                   placeholder="27017" class="form-control"
                   value="{{ mongodb.settings.port }}" />
        </div>

        <div class="clearfix"></div>

        {% for database in mongodb.databases %}
            {% include 'PuphpetBundle:mongodb/sections:user-database.html.twig'
                with {'database': database} %}
        {% endfor %}

        <a href="#" data-source-url="{{ path('puphpet.mongodb.add_database') }}"
           class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another database</a>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#postgresql"><span aria-hidden="true">&larr;</span> PostgreSQL</a></li>
            <li class="next">
                <a href="#redis">Redis <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
